---
import BaseLayout from '../../layouts/BaseLayout.astro';
import NavDocs from '../../components/NavDocs.astro';

const title = 'mCSS Documentation';
const header = 'Documentation | mCSS';
---

<BaseLayout title={title} header={header}>
  <NavDocs />
  <h2>HTML Elements</h2>
</BaseLayout>
