---
import { getCollection } from 'astro:content';
import DocsPostLayout from '../../layouts/DocsPostLayout.astro';
import NavDocs from '../../components/NavDocs.astro';

const mockFrontmatter = { title: 'Getting Started' };
---

<DocsPostLayout frontmatter={mockFrontmatter}>
  <p>mCSS is both a CSS framework and a methodology.</p>
</DocsPostLayout>
