---
import BaseLayout from '../../layouts/BaseLayout.astro';
import NavDocs from '../../components/NavDocs.astro';

const title = 'Themes | mCSS Documentation';
const header = 'Docs / Themes';
---

<BaseLayout title={title} header={header}>
  <NavDocs />
  <h2>Default</h2>
  <h2>Wireframes</h2>
</BaseLayout>
