---
import BaseLayout from '../../layouts/BaseLayout.astro';

import NavDocs from '../../components/NavDocs.astro';

const title = 'Tokens | mCSS Documentation';
const header = 'Docs / Tokens';
---

<BaseLayout title={title} header={header}>
  <NavDocs />
  <h2 id="how-to">How to use tokens</h2>
  <ol>
    <li>Override low level tokens in your theme.</li>
    <li>Customize abstracted tokens for <code>elements</code> files in your theme.</li>
    <li>Customize abstracted tokens for <code>layout</code> files in your theme.</li>
    <li>Use low level tokens directly in your <code>component</code> files.</li>
  </ol>

  <h2 id="low-level">Low level tokens</h2>

  <h2>Typography</h2>
  <p>There are 3 font stacks set up by default: text, display, and monospace.</p>
  <p>The stacks are optimized for fonts available on device, to maximize for speed and alleviate any layout shifts or flashes.</p>
  <p>You can find more stack at <a href="https://modernfontstacks.com">Modern Font Stacks</a>.</p>
  <p>If you'd like to bring in your own fonts or <a href="https://fonts.google.com">Google fonts</a>, you can override the <code>display</code> and <code>text</code> tokens inside your theme file.</p>
  <p><b>Note:</b> in case you're curious, <code>ui-sans-serif</code> is the system default, while <code>sans-serif</code> is the browser default, and <code>system-ui</code> is the system default, wether serif or sans-serif.</p>

  <h2 id="dimensions">Dimensions</h2>
  <ul class="cubes">
    <li><div class="sm1"></div></li>
    <li><div class="sm2"></div></li>
    <li><div class="sm3"></div></li>
    <li><div class="md1"></div></li>
    <li><div class="md2"></div></li>
    <li><div class="md3"></div></li>
    <li><div class="lg1"></div></li>
    <li><div class="lg2"></div></li>
    <li><div class="lg3"></div></li>
    <li><div class="xl1"></div></li>
    <li><div class="xl2"></div></li>
    <li><div class="xl3"></div></li>
    <li><div class="xxl1"></div></li>
    <li><div class="xxl2"></div></li>
    <li><div class="xxl3"></div></li>
  </ul>
  <h2 id="drop-shadows">Drop Shadows</h2>
  <ul class="ds">
    <li>
      <div class="shadow-1"></div>
    </li>
    <li>
      <div class="shadow-2"></div>
    </li>
    <li>
      <div class="shadow-3"></div>
    </li>
    <li>
      <div class="shadow-4"></div>
    </li>
    <li>
      <div class="shadow-5"></div>
    </li>
  </ul>
</BaseLayout>
