---
import BaseLayout from '../../layouts/BaseLayout.astro';

import NavDocs from '../../components/NavDocs.astro';

const title = 'Tokens | mCSS Documentation';
const header = 'Docs / Tokens';
---

<BaseLayout title={title} header={header}>
  <NavDocs />
  <h2>How to use tokens</h2>
  <ol>
    <li>Override low level tokens in your theme.</li>
    <li>Customize abstracted tokens for <code>elements</code> files in your theme.</li>
    <li>Customize abstracted tokens for <code>layout</code> files in your theme.</li>
    <li>Use low level tokens directly in your <code>component</code> files.</li>
  </ol>

  <h2>Low level tokens</h2>

  <h2>Dimension</h2>
  <ul class="cubes">
    <li><div class="sm1"></div></li>
    <li><div class="sm2"></div></li>
    <li><div class="sm3"></div></li>
    <li><div class="md1"></div></li>
    <li><div class="md2"></div></li>
    <li><div class="md3"></div></li>
    <li><div class="lg1"></div></li>
    <li><div class="lg2"></div></li>
    <li><div class="lg3"></div></li>
    <li><div class="xl1"></div></li>
    <li><div class="xl2"></div></li>
    <li><div class="xl3"></div></li>
    <li><div class="xxl1"></div></li>
    <li><div class="xxl2"></div></li>
    <li><div class="xxl3"></div></li>
  </ul>
  <h2>Drop Shadows</h2>
  <ul class="ds">
    <li>
      <div class="shadow-1"></div>
    </li>
    <li>
      <div class="shadow-2"></div>
    </li>
    <li>
      <div class="shadow-3"></div>
    </li>
    <li>
      <div class="shadow-4"></div>
    </li>
    <li>
      <div class="shadow-5"></div>
    </li>
  </ul>
</BaseLayout>
