/* Site-specific overrides of the library footer (framework/component.footer.css) */

.footer_meta {
  display: flex;
  flex-direction: column;
  justify-content: end;

  svg {
    position: relative;
    fill: currentColor;
    display: inline-block;
    width: 18px;
    top: -2px;
  }
}

.footer_version {
  svg {
    display: inline-block;
    margin-right: 0.25em;
    width: 25px;
  }
}
