---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';

const title = 'mCSS Blog';
const allPosts = await getCollection('blog');
allPosts.sort((a, b) => Date.parse(b.data.pubDate) - Date.parse(a.data.pubDate));
---

<BaseLayout title={title} bodyClass="layout-centered">
  <main class="blog">
    <h1>Latest updates, tutorials, and tips.</h1>
    <ul class="blog_postListing">
      {
        allPosts.map((post) => (
          <li>
            <p>
              <a href={`/blog/${post.slug}`}>{post.data.title}</a>
            </p>
            <p>{post.data.description}</p>
          </li>
        ))
      }
    </ul>
  </main>
</BaseLayout>
