---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';

const title = 'mCSS Blog';
const allPosts = await getCollection('blog');
allPosts.sort((a, b) => Date.parse(b.data.pubDate) - Date.parse(a.data.pubDate));
---

<BaseLayout title={title}>
  <div class="wrap">
    <h1>Tutorials. Tips. Latest updates.</h1>
    <ul>
      {
        allPosts.map((post) => (
          <li>
            <a href={`/blog/${post.slug}`}>{post.data.title}</a>
          </li>
        ))
      }
    </ul>
  </div>
</BaseLayout>
