---
import DemoLayout from '../../layouts/DemoLayout.astro';
import Hero from '../../components/Hero.astro';
import { Image } from 'astro:assets';

import triangle01 from '../../assets/images/triangle-345015062.svg';
import triangle02 from '../../assets/images/triangle-39337866.svg';
import triangle03 from '../../assets/images/triangle-311944673.svg';
import videoFile from '../../assets/media/fushimi.mp4';

const title = 'Hero component demo';
---

<DemoLayout title={title}>
  <Hero variant="full" parallax={true} height={100} overlayOpacity={0.5} overlayColor="--primary-950" media={{ type: 'canvas', src: '/_js/triangles.js', alt: '' }} textColor="--base-0" extraClass="prose">
    <h1 class="display-xl">Hero with Live Canvas Background & Parallax</h1>
    <p>This hero uses an animated canvas element as background and has its parallax prop set to true.</p>
    <a class="bt bt-lg bt-outline-white mt-xs3" href="/components/hero">Component Docs</a>
  </Hero>
  <Hero
    variant="full"
    height={70}
    media={{
      type: 'gradient',
      src: 'linear-gradient(120deg, #f0f 0%, #0ff 100%)',
    }}
    textColor="--base-0"
    extraClass="prose">
    <h1 class="display-xl">Hero with Specific Height & Gradient</h1>
    <p>The background can be set to a gradient, image, video, or canvas.</p>
    <a class="bt bt-lg bt-outline-white mt-xs3" href="/components/hero">Component Docs</a>
  </Hero>

  <Hero
    variant="full"
    height={60}
    overlayOpacity={0.8}
    overlayColor="--base-0"
    textColor="--base-950"
    media={{
      type: 'video',
      src: videoFile,
      alt: 'Fushimi Inari video',
      poster: '',
    }}
    extraClass="prose">
    <h1 class="display-xl">Hero with Video</h1>
    <p>This hero uses a video as its background media.</p>
    <a class="bt bt-lg bt-primary mt-xs3">Watch Video</a>
  </Hero>

  <Hero variant="split" media={{ type: 'image', src: triangle01, alt: 'Triangle 01' }} extraClass="">
    <h1>Split Variant Default</h1>
    <p>The Split layout defaults to a <code>62/38</code> ratio, with media on top on small screens (media first in the DOM), and on the left on larger screens. You can add the <code>contentFirst</code> prop to change that.</p>
  </Hero>

  <Hero variant="split" reversed media={{ type: 'image', src: triangle03, alt: 'Triangle 03' }} extraClass="prose">
    <h1>Split Variant (Reversed)</h1>
    <p>Adding the <code>reversed</code> prop visually swaps the content and media sections (without changing their position in the DOM).</p>
  </Hero>

  <Hero
    id="hero01"
    variant="slideshow"
    height={70}
    overlayOpacity={0.6}
    overlayColor="--primary-950"
    textColor="--base-0"
    slideshowItems={[
      {
        media: { type: 'image', src: triangle01, alt: 'Triangle 01' },
      },
      {
        media: { type: 'image', src: triangle02, alt: 'Triangle 02' },
      },
      {
        media: { type: 'image', src: triangle03, alt: 'Triangle 03' },
      },
    ]}
    slideshowInterval={5000}
    slideshowTransition={1500}>
    <ul class="prose">
      <li>
        <h1>Slideshow Variant</h1>
        <p>This is the first slide of the slideshow.</p>
      </li>
      <li>
        <h1>Each Slide has a different content & background</h1>
        <p>This is the second slide of the slideshow.</p>
      </li>
      <li>
        <h1>Slideshow Variant</h1>
        <p>Each slide is absolute positioned so make sure you account for the tallest slide by using the <code>height</code> prop.</p>
      </li>
    </ul>
  </Hero>
</DemoLayout>
