---
import DemoLayout from '../../layouts/DemoLayout.astro';

const title = 'Demos';
---

<DemoLayout title={title}>
  <main class="wrap mt-xxl1 prose">
    <h1>mCSS component demos</h1>
    <h2>Global</h2>
    <h3>Wrap</h3>
    <ul>
      <li><a href="/demos/wrap">Wrap</a></li>
    </ul>
    <h3>Layouts</h3>
    <ul>
      <li><a href="/demos/layout/centered">.layout-centered</a></li>
      <li><a href="/demos/layout/sidebar">.layout-sidebar</a></li>
      <li><a href="/demos/layout/sidebar-end">.layout-sidebar-end</a></li>
      <li><a href="/demos/layout/docs">.layout-docs</a></li>
      <li><a href="/demos/layout/split">.layout-split</a></li>
      <li><a href="/demos/layout/cover">.layout-cover</a></li>
    </ul>
    <h2>Components</h2>
    <ul>
      <li><a href="/demos/hero">Hero</a></li>
    </ul>
  </main>
</DemoLayout>
