---
import DemoLayout from '../../layouts/DemoLayout.astro';

const title = 'Demos';
---

<DemoLayout title={title}>
  <main class="wrap mt-xxl1">
    <h1>mCSS component demos</h1>
    <ul>
      <li><a href="/demos/wrap">Wrap</a></li>
    </ul>
  </main>
</DemoLayout>
