---
import DemoLayout from '../../layouts/DemoLayout.astro';

const title = 'Wrap component demo';
---

<DemoLayout title={title}>
  <div class="wrap mt-xl1">
    <section class="wrap_content prose mb-lg1">
      <h1>A Header within a default wrap container</h1>
      <p>This text is inside a dive with the <code>.wrap_content</code> class.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </section>
    <section class="wrap_content wrap_content-fullbleed prose">
      <h1>A Header within a full bleed wrap container</h1>
      <p>This text is inside a div with the <code>.wrap_content</code> and the <code>.wrap_content-fullbleed</code> modifier class.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </section>
  </div>
</DemoLayout>
