.cubes,
.ds {
  list-style-type: none;
}

.cubes li {
  margin-bottom: var(--md1);
}

.cubes div {
  background-color: hotpink;
  height: 30px;
}

.ds {
  margin-bottom: var(--lg1);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.ds div {
  width: 100px;
  aspect-ratio: var(--ar-square);
}

.sm1 {
  width: var(--sm1);
}

.sm2 {
  width: var(--sm2);
}

.sm3 {
  width: var(--sm3);
}

.md1 {
  width: var(--md1);
}

.md2 {
  width: var(--md2);
}

.md3 {
  width: var(--md3);
}

.lg1 {
  width: var(--lg1);
}

.lg2 {
  width: var(--lg2);
}

.lg3 {
  width: var(--lg3);
}

.xl1 {
  width: var(--xl1);
}

.xl2 {
  width: var(--xl2);
}

.xl3 {
  width: var(--xl3);
}

.xxl1 {
  width: var(--xxl1);
}

.xxl2 {
  width: var(--xxl2);
}

.xxl3 {
  width: var(--xxl3);
}

.shadow-1 {
  box-shadow: var(--shadow-sm);
}
.shadow-2 {
  box-shadow: var(--shadow);
}
.shadow-3 {
  box-shadow: var(--shadow-md);
}
.shadow-4 {
  box-shadow: var(--shadow-lg);
}
.shadow-5 {
  box-shadow: var(--shadow-xl);
}
.shadow-6 {
  box-shadow: var(--shadow-xxl);
}
