.button,
.bt {
  display: inline flex;
  justify-content: center;
  align-items: center;
  min-width: 101px;
  min-height: var(--md3);
  padding-left: var(--xs3);
  padding-right: var(--xs3);
  font-weight: var(--bt-font-weight);
  font-size: var(--bt-font-size);
  text-decoration: none;
  color: var(--bt-color);
  background-color: var(--bt-background-color);
  border: var(--bt-border-width) solid var(--bt-border-color);
  border-radius: var(--bt-border-radius);
  cursor: pointer;
  transition: all var(--transition-fast);

  &.bt-outline {
    border-color: var(--bt-outline-border-color);
    &:hover {
      color: var(--bt-outline-color-hover);
      background-color: var(--bt-outline-background-color-hover);
      border-color: var(--bt-outline-border-color-hover);
    }
  }

  &:where(:not(:disabled):hover) {
    color: var(--bt-color-hover);
    background-color: var(--bt-background-color-hover);
  }

  &:where(:not(:disabled):active) {
    transform: scale(0.97);
  }

  &:disabled {
    opacity: var(--o-2);
    cursor: not-allowed;
    pointer-events: none;
  }

  svg {
    width: var(--sm1);
    height: var(--sm1);
    margin-right: 0.25em;
    margin-left: calc(var(--xs2) * -1);
  }
}

/* Colors */

.bt-text {
  border-color: transparent;
  background-color: transparent;
  &:hover {
    color: var(--link-color);
  }
  &:disabled {
    color: var(--text-colors);
    background-color: transparent;
    cursor: not-allowed;
  }
}

.bt-outline-white:not(:disabled) {
  color: var(--bt-0);
  background-color: transparent;
  border-color: var(--base-0);
  &:hover {
    background-color: rgb(255 255 255 / 0.1);
  }
}

.bt-primary:not(:disabled) {
  color: var(--bt-primary-color);
  background-color: var(--bt-primary-background-color);
  border-color: var(--bt-primary-border-color);
  &:hover {
    background-color: var(--bt-primary-background-color-hover);
    border-color: var(--bt-primary-background-color-hover);
  }
  &.bt-outline {
    color: var(--bt-primary-background-color);
    &:hover {
      color: var(--bt-primary-color);
      background-color: var(--bt-primary-background-color);
      border-color: var(--bt-primary-border-color-hover);
    }
  }
}

.bt-yes:not(:disabled) {
  color: var(--base-0);
  background-color: var(--yes-500);
  border-color: var(--yes-500);
  &:hover {
    color: var(--yes-500);
    background-color: var(--yes-100);
    border-color: var(--yes-100);
  }
  &.bt-outline {
    color: var(--yes-500);
    &:hover {
      color: var(--base-0);
      background-color: var(--yes-500);
      border-color: var(--yes-500);
    }
  }
}

.bt-no:not(:disabled) {
  color: var(--base-0);
  background-color: var(--no-500);
  border-color: var(--no-500);
  &:hover {
    color: var(--no-500);
    background-color: var(--no-100);
    border-color: var(--no-100);
  }
  &.bt-outline {
    color: var(--no-500);
    &:hover {
      color: var(--base-0);
      background-color: var(--no-500);
      border-color: var(--no-500);
    }
  }
}

.bt-maybe:not(:disabled) {
  color: var(--base-0);
  background-color: var(--maybe-500);
  border-color: var(--maybe-500);
  &:hover {
    color: var(--maybe-500);
    background-color: var(--maybe-100);
    border-color: var(--maybe-100);
  }
  &.bt-outline {
    color: var(--maybe-500);
    &:hover {
      color: var(--base-0);
      background-color: var(--maybe-500);
      border-color: var(--maybe-500);
    }
  }
}

:is(.bt-outline, .bt-outline:hover) {
  background-color: transparent;
}

/* Sizes */

.bt-md {
  min-width: 123px;
  min-height: var(--lg2);
  padding-left: var(--xs3);
  padding-right: var(--xs3);
}

.bt-lg {
  min-width: 133px;
  min-height: var(--xl1);
  padding-left: var(--sm2);
  padding-right: var(--sm2);
  font-size: var(--bt-font-size-lg);
  border-radius: var(--bt-border-radius-lg);

  svg {
    margin-left: calc(var(--xs3) * -1);
    width: var(--sm3);
    height: var(--sm3);
  }
}
