.button,
.bt {
  display: inline flex;
  justify-content: center;
  align-items: center;
  min-width: 101px;
  min-height: var(--button-height);
  padding-left: var(--xs3);
  padding-right: var(--xs3);
  font-weight: var(--semi-bold);
  font-size: var(--text-sm);
  text-decoration: none;
  color: var(--text-color);
  background-color: var(--base-0);
  border: 1px solid var(--border-color);
  border-radius: var(--button-border-radius);
  cursor: pointer;
  transition: all var(--transition-fast);

  &:where(:not(:disabled):hover) {
    color: var(--text-color);
    background-color: var(--base-50);
  }

  &:where(:not(:disabled):active) {
    transform: scale(0.97);
  }

  &:disabled {
    background-color: var(--base-200);
    opacity: var(--o-2);
    cursor: not-allowed;
  }

  svg {
    width: var(--sm1);
    height: var(--sm1);
    margin-right: 0.25em;
    margin-left: calc(var(--xs2) * -1);
  }
}

/* Colors */

.bt-text {
  border-color: transparent;
  &:hover {
    color: var(--link-color);
    background-color: transparent;
  }
}

.bt-primary {
  color: var(--base-0);
  background-color: var(--link-color);
  border-color: var(--link-color);
  &:hover {
    background-color: var(--link-hover-color);
    border-color: var(--link-hover-color);
  }
  &.bt-outline {
    color: var(--link-color);
    &:hover {
      color: var(--link-hover-color);
    }
  }
}

.bt-yes {
  color: var(--base-0);
  background-color: var(--yes-500);
  border-color: var(--yes-500);
  &:hover {
    color: var(--yes-500);
    background-color: var(--yes-100);
    border-color: var(--yes-100);
  }
  &.bt-outline {
    color: var(--yes-500);
    &:hover {
      background-color: var(--yes-500);
      color: var(--base-0);
    }
  }
}

.bt-no {
  color: var(--base-0);
  background-color: var(--no-500);
  border-color: var(--no-500);
  &:hover {
    color: var(--no-500);
    background-color: var(--no-100);
    border-color: var(--no-100);
  }
  &.bt-outline {
    color: var(--no-500);
    &:hover {
      background-color: var(--no-500);
      color: var(--base-0);
    }
  }
}

.bt-maybe {
  color: var(--base-0);
  background-color: var(--maybe-500);
  border-color: var(--maybe-500);
  &:hover {
    color: var(--maybe-500);
    background-color: var(--maybe-100);
    border-color: var(--maybe-100);
  }
  &.bt-outline {
    color: var(--maybe-500);
    &:hover {
      background-color: var(--maybe-500);
      color: var(--base-0);
    }
  }
}

:is(.bt-outline, .bt-outline:hover) {
  background-color: transparent;
}

/* Sizes */

.bt-md {
  min-width: 123px;
  min-height: var(--lg2);
  padding-left: var(--xs3);
  padding-right: var(--xs3);
}

.bt-lg {
  min-width: 133px;
  min-height: var(--xl1);
  padding-left: var(--sm2);
  padding-right: var(--sm2);
  font-size: var(--text-md);
  border-radius: var(--radius-xl);

  svg {
    margin-left: calc(var(--xs3) * -1);
    width: var(--sm3);
    height: var(--sm3);
  }
}
