.tags {
  display: flex;
  flex-wrap: wrap;
  gap: var(--xs2);

  a {
    padding: var(--xs1) var(--xs2);
    text-decoration: none;
    text-transform: lowercase;
    font-size: var(--tags-font-size);
    font-style: normal;
    color: var(--tags-color);
    border-radius: var(--tags-radius);
    background-color: var(--tags-background-color);
    transition: all var(--transition);
    &:hover {
      background-color: var(--tags-color-hover);
    }
  }
}
