.tags {
  li {
    display: inline-block;
    &:nth-last-child(n + 2) {
      padding-right: var(--xs2);
    }
  }

  a {
    padding: var(--xs1) var(--xs2);
    text-decoration: none;
    text-transform: lowercase;
    font-size: var(--text-sm);
    font-style: normal;
    color: var(--base-500);
    border-radius: var(--radius-sm);
    background-color: var(--base-100);
    transition: all var(--transition);
    &:hover {
      background-color: var(--base-200);
    }
  }
}
