footer {
  padding: var(--md3) var(--sm3);
  line-height: var(--leading-xl);
  color: var(--footer-text-color);
  background-color: var(--footer-background-color);
  border-top: 2px dashed var(--footer-border-color);
  @media (--md) {
    display: grid;
    gap: var(--md3);
    grid-template-columns: 25% 1fr;
    padding: var(--lg3) var(--md3);
  }

  a {
    color: var(--base-0);
    text-decoration: none;
    font-weight: var(--book);
    transition: color var(--transition);
    &:hover {
      color: var(--primary-200);
    }
  }
}

.footer_meta {
  grid-column: 1;
  grid-row: 1;
  /* & is just to make syntax highlighter happy */
  & p:last-child {
    margin-top: 1em;
  }

  svg {
    position: relative;
    fill: currentColor;
    display: inline-block;
    width: 18px;
    top: -2px;
  }
}

.footer_meta_version {
  svg {
    display: inline-block;
    margin-right: 0.25em;
    width: 25px;
  }
}

.footer_nav > ul {
  @media (--md) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  ul {
    margin-bottom: var(--md3);
    @media (--md) {
      margin-bottom: 0;
    }

    li:not(:last-child) {
      margin-bottom: var(--xs1);
    }
  }
}
