.header {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: var(--layout_content_aside-width) 1fr 50px;
  height: var(--header-height);
  background-color: var(--header-background-color);
  box-shadow: var(--shadow-sm);
  z-index: var(--z-5);
  transition: all var(--transition);

  nav {
    display: grid;
    justify-self: end;
    width: max-content;
  }

  ul {
    display: flex;
    gap: var(--md3);
    padding-left: 0;
    list-style-type: none;

    a {
      position: relative;
      display: grid;
      align-items: center;
      height: 100%;
      text-decoration: none;
      font-size: var(--text-sm);
      font-weight: var(--bold);
      color: var(--text-color);
      transition: all var(--transition);
      &:hover,
      &.is-active {
        color: var(--link-color);
      }
    }
  }

  &.is-top {
    box-shadow: none;
  }
}

.header_logo {
  --logo-size: 35px;

  display: grid;
  grid-template-columns: var(--logo-size) 1fr;
  align-items: center;
  gap: var(--sm2);
  margin-left: var(--md3);
  text-decoration: none;
  font-size: var(--text-sm);
  font-weight: var(--semi-bold);
  color: var(--text-color);

  svg {
    width: var(--logo-size);
    height: var(--logo-size);
  }
}
