.readProgressBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--readProgressBar-height);
  z-index: var(--z-5);

  > div {
    width: 100%;
    height: 100%;
    background: var(--readProgressBar-color);
    animation: bar linear;
    animation-timeline: scroll(y);
  }
}

@keyframes bar {
  from {
    width: 0;
  }
  to {
    width: 100vw;
  }
}
