.card {
  --loading-animation: 2s infinite ease-in-out;

  position: relative;
  padding: var(--card-spacing);
  color: var(--card-color);
  border-radius: var(--card-border-radius);
  border: var(--card-border-width) solid var(--card-border-color);
  transition: box-shadow var(--transition);

  &.is-disabled {
    opacity: var(--o-2);
    pointer-events: none;
  }
}

.card-filled {
  background: var(--card-bg-color);
  border: none;
}

.card-raised {
  border: var(--card-border-width) solid var(--card-border-color);
  box-shadow: var(--card-shadow);
}

.card-raised:hover:not(.is-disabled) {
  box-shadow: var(--card-shadow-hover);
}

.card_link {
  position: absolute;
  inset: 0;
}

.card_header {
  display: grid;
  grid-template-columns: 1fr minmax(min-content, max-content);
  align-items: start;
  gap: var(--xs2);
  margin-bottom: var(--xs3);
  /* we need extra spacing when there is an image after the header */
  &:has(+ .card_media) {
    margin-bottom: var(--card-spacing);
  }
}

.card_header_text {
  h2 {
    font-size: var(--text-lg);
    font-weight: var(--semi-bold);
    margin-bottom: 0;
  }

  p {
    font-size: var(--text-lg);
    color: var(--card-secondary-text-color);
  }
}

.card_badges {
  display: flex;
  flex-wrap: wrap;
  gap: var(--xs2);
  justify-content: flex-end;
  transform: translate(var(--xs2), calc(var(--xs2) * -1));
}

.card_badge {
  padding: var(--xs1) var(--xs2);
  font-size: var(--text-sm);
  font-weight: var(--semi-bold);
  color: var(--card-badge-text-color);
  background: var(--card-badge-bg);
  border-radius: var(--radius-md);
}

.card_media {
  margin-bottom: var(--card-spacing);
  overflow: hidden;
  border-radius: var(--card-border-radius);
}

.card_image {
  width: 100%;
  object-fit: cover;
  aspect-ratio: var(--card-aspect-ratio);
}

.card_content {
  /* in case it's inside a .prose context */
  p:last-of-type {
    margin-bottom: 0;
  }
}

.card_actions {
  display: flex;
  justify-content: flex-end;
  gap: var(--xs3);
  position: relative;
  margin-top: var(--card-spacing);
}

/* Loading state */

.card_placeholder {
  width: 100%;
  aspect-ratio: var(--card-aspect-ratio);
  background: var(--card-loading-bg);
  animation: pulse var(--loading-animation);
}

.card_loading {
  display: flex;
  flex-direction: column;
  gap: var(--xs2);
}

.card_loadingLine {
  height: var(--sm1);
  background: var(--card-loading-bg);
  border-radius: var(--radius-sm);
  animation: pulse var(--loading-animation);
}

.card_loadingLine-short {
  width: 75%;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
