.notice {
  --bg-color: var(--base-50);
  --bd-color: var(--base-200);
  --svg-color: inherit;
  --code-color: inherit;
  --code-bg-color: inherit;

  padding: var(--sm1);
  border: 1px solid var(--bd-color);
  border-radius: var(--radius-lg);
  color: var(--notice-text-color);
  background-color: var(--bg-color);

  code {
    background-color: var(--code-bg-color);
    color: var(--code-color);
  }

  p:last-of-type {
    /* in case it's inside a .prose context */
    margin-bottom: 0;
  }
}

.notice_title {
  display: flex;

  svg {
    margin-bottom: var(--xs3);
    margin-right: 0.5em;
    color: var(--svg-color);
  }

  strong {
    display: block;
    margin-bottom: var(--xs1);
  }
}

.notice-info {
  --bg-color: var(--primary-100);
  --bd-color: var(--primary-300);
  --svg-color: var(--primary-400);
  --code-color: var(--primary-600);
  --code-bg-color: var(--primary-200);
}

.notice-danger {
  --bg-color: var(--no-200);
  --bd-color: var(--no-500);
  --svg-color: var(--no-500);
  --code-color: var(--no-500);
  --code-bg-color: var(--no-100);
}

.notice-warning {
  --bg-color: var(--maybe-200);
  --bd-color: var(--maybe-500);
  --svg-color: var(--maybe-400);
  --code-color: var(--maybe-500);
  --code-bg-color: var(--maybe-100);
}

.notice-confirm {
  --bg-color: var(--yes-100);
  --bd-color: var(--yes-500);
  --svg-color: var(--yes-400);
  --code-color: var(--yes-500);
  --code-bg-color: var(--yes-200);
}
