/* ELEMENTS TEXT */

:where(a, u, ins, abbr) {
  text-underline-offset: 1px;
  @supports (-moz-appearance: none) {
    text-underline-offset: 2px;
  }
}

a {
}

abbr {
}

b {
}

blockquote {
}

br {
}

cite {
}

code {
  font-family: var(--mono);
  font-size: 0.9em;
}

data {
}

dl {
}

dt {
}

dd {
}

del {
}

dfn {
}

em {
}

figcaption {
}

figure {
}

/* Technically, headins should be in elements.sectioning but I'm guessing that's where most people would expect this to be */
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word; /* Avoid text overflows */
  text-wrap: balance;

  font-family: var(--display);
}

h1,
h2,
h3 {
  margin: 0.67em 0;
}

/* h1—h3 that has h2—h4 right after gets a smaller margin bottom */
:where(h1, h2, h3):has(+ :is(h2, h3, h4)) {
  margin-bottom: 0.25rem;
}

hr {
  border-style: solid;
  border-width: 1px 0 0;
  color: inherit;
  height: 0;
  overflow: visible;
}

i {
}

ins {
}

kbd {
}

mark {
}

menu {
}

ol {
}

ul {
}

li {
}

p {
}

pre {
  white-space: pre-wrap; /* override overflow default */
}

q {
  /* see: elements.text.quotes.css */
}

s {
}

samp {
}

small {
}

strong {
}

sub {
}

sup {
}

time {
}
