/* CONTENT SECTIONING ELEMENTS */

address {
}

article {
}

aside {
}

footer {
}

header {
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word; /* Avoid text overflows */
  text-wrap: balance;
}

h1,
h2,
h3 {
  margin: 0.67em 0;
}

/* h1—h3 that has h2—h4 right after gets a smaller margin bottom */
:where(h1, h2, h3):has(+ :is(h2, h3, h4)) {
  margin-bottom: 0.25rem;
}

hgroup {
}

main {
}

nav {
}

section {
}

search {
}
