/* ELEMENTS TABLE */

caption {
  caption-side: bottom;
  margin-top: var(--xs3);
  font-size: var(--text-sm);
}

colgroup {
}

table {
  border-spacing: 0;
  border: 1px solid var(--table-border-color);
  border-radius: var(--table-border-radius);
  background-color: var(--table-background-color);
}

th,
td {
  text-align-last: left;
  padding: var(--table-padding);
  border-bottom: 1px solid var(--table-border-color);
  border-left: 1px solid var(--table-border-color);
}

tr {
  th:first-child,
  td:first-child {
    border-left-width: 0;
  }
}

thead {
}

tbody {
  tr:last-child {
    th,
    td {
      border-bottom-width: 0;
    }
  }
}

tfoot {
  th,
  td {
    border-top: 1px solid var(--table-border-color);
    border-bottom-width: 0;
  }
}
