.astro-code {
  margin-top: var(--prose-spacing);
  margin-bottom: var(--prose-spacing);
  padding: var(--sm1);
  border-radius: var(--radius-md);
  background-color: var(--astro-code-background-color) !important;

  code {
    /* override elements.text default */
    padding: 0;
    background-color: initial;
  }
}

/* Codepen */
.cp_embed_wrapper {
  margin-top: var(--prose-spacing);
  margin-bottom: var(--prose-spacing);
}
