.astro-code {
  margin-top: var(--prose-spacing);
  margin-bottom: var(--prose-spacing);
  padding: var(--sm1);
  border-radius: var(--radius-md);

  code {
    /* override elements.text default */
    padding: 0;
    background-color: initial;
  }
}
