/* ⚠️ Internal component. Not part of mCSS component library */

.colorPicker {
  --bg: var(--base-950);
  --cp-text: var(--base-100);
  --cp-bd-color: var(--base-500);
  --cp-draggable-bd: var(--base-0);
  --cp-spacing: var(--sm3);

  --h: 0; /* degrees 0–360 */
  --s: 100; /* % 0–100 */
  --l: 50; /* % 0–100 */

  --cp-wheel-size: 255px;
  --cp-wheel-thickness: 32px;
  --cp-radius: calc(var(--cp-wheel-size) / 2);

  @media (--md) {
    --cp-wheel-size: 285px;
    --cp-spacing: var(--md3);
  }

  max-width: 800px;
  padding: var(--cp-spacing);
  border-radius: var(--radius-md);
  background: var(--bg);

  .top {
    @media (--md) {
      display: grid;
      grid-template-columns: 1fr var(--cp-wheel-size);
      gap: var(--cp-spacing);
    }
  }

  /* Section labels */
  .label {
    display: block;
    width: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    color: var(--cp-text);

    text-transform: uppercase;
    text-align: center;
    font-size: 0.78rem;
    letter-spacing: 0.2em;
  }

  .label-s {
    transform: translate(0, calc(-100% - 10px));
  }

  .label-l {
    transform: rotate(-90deg) translate(-100%, calc(-100% - 10px));
    transform-origin: left top;
  }

  /* Saturation/Lightness square */
  .sl-wrap {
    position: relative;
    max-width: var(--cp-wheel-size);
    margin: var(--lg3) auto 0;
    @media (--md) {
      margin-top: var(--xs3);
    }
  }

  .sl {
    aspect-ratio: 1/1;
    border: 1px solid var(--cp-bd-color);
    border-radius: var(--radius-sm);
    overflow: hidden;
    user-select: none;
    touch-action: none;

    canvas {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .sl-cursor {
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: var(--radius-round);
    border: 2px solid var(--cp-draggable-bd);
    box-shadow: 0 0 0 2px hsl(0 0 0 / 0.6);
    transform: translate(-50%, -50%);
    left: 100%;
    top: 50%;
    pointer-events: none;
  }

  /* Hue wheel */
  .wheel {
    position: relative;
    width: var(--cp-wheel-size);
    height: var(--cp-wheel-size);
    margin: auto;
    user-select: none;
    @media (--md) {
      margin-left: 0;
    }

    .ring {
      position: absolute;
      inset: 0;
      border-radius: var(--radius-round);
      background: conic-gradient(
        hsl(0deg 100% 50%),
        hsl(60deg 100% 50%),
        hsl(120deg 100% 40%),
        hsl(180deg 100% 45%),
        hsl(240deg 100% 60%),
        hsl(300deg 100% 55%),
        hsl(360deg 100% 50%)
      );
    }

    .hub {
      position: absolute;
      inset: calc(var(--cp-wheel-thickness));
      display: grid;
      place-items: center;
      text-align: center;
      background-color: var(--bg);
      border: 1px solid var(--cp-bd-color);
      border-radius: var(--radius-round);

      strong {
        display: block;
        color: var(--primary-300);
        letter-spacing: var(--tracking-xxl);
        font-size: var(--text-sm);
      }

      span {
        display: block;
        color: var(--cp-text);
        font-size: var(--text-md);
        margin-top: var(--xs1);
      }
    }
  }

  .knob {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 14px;
    height: 30px;
    transform: translate(-50%, -50%) rotate(var(--angle, 0deg))
      translateY(calc(-1 * (var(--cp-radius) - var(--cp-wheel-thickness) / 2)));
    box-shadow: 0 0 0 2px hsl(0 0 0 / 0.6);
    border: 2px solid var(--cp-draggable-bd);
    border-radius: var(--radius-xl);
    pointer-events: none;
  }

  /* Bottom row */
  .bottom {
    margin-top: var(--cp-spacing);
    @media (--md) {
      display: grid;
      grid-template-columns: minmax(50px, 100px) 1fr;
      gap: var(--cp-spacing);
    }
  }

  .swatch {
    height: 50px;
    margin-bottom: var(--cp-spacing);
    border-radius: var(--radius-sm) 0 0 var(--radius-sm);
    background: hsl(var(--h) var(--s) var(--l));
    @media (--md) {
      height: auto;
      margin-bottom: 0;
    }
  }

  .code {
    pre {
      padding: var(--xs3) var(--xs2);
      font-size: var(--text-xs);
      color: var(--base-50);
      background: var(--base-700);
      border: 1px solid var(--cp-bd-color);
      caret-color: var(--base-50);
      @media (--md) {
        padding: var(--sm1);
        font-size: var(--text-md);
      }

      &:focus {
        outline: none;
        border-color: var(--primary-200);
      }
    }
  }
}
