.layout-centered {
  .layout_content {
    display: grid;
    gap: var(--md3);
    grid-template-columns: 1fr minmax(70ch, 1fr) 1fr;
    margin-top: var(--xl3);
  }

  main {
    grid-column: 2/2;
  }

  aside {
    margin-top: var(--lg1);
  }
}

.layout-sidebar {
  .layout_content {
    display: grid;
    grid-template-columns: var(--layout_content_aside-width) 1fr;
  }

  .layout_content_aside {
    nav {
      /* sticky for every nav, not just .navDocs */
      position: sticky;
      top: var(--header-height);
      padding: var(--lg1) var(--md3);
    }
  }

  .layout_content_main {
    max-width: calc(65ch + (var(--lg1) * 2));
    padding: var(--lg1);
  }
}
