/* PROSE - Default style for text content */

.prose {
  code,
  var {
    font-style: normal;
    background-color: var(--primary-100);
    color: var(--primary-600);
  }

  p,
  ul,
  ol {
    max-width: 65ch;
    margin-bottom: var(--prose-margin);
  }

  table {
    margin-top: var(--md1);
    margin-bottom: var(--md1);
  }
}
