/* PROSE - Default style for text content */

.prose {
  code,
  var,
  kbd {
    font-style: normal;
    background-color: var(--primary-100);
    color: var(--primary-600);
  }

  p,
  ul,
  ol,
  dl {
    max-width: 65ch;
    margin-bottom: var(--prose-margin);
    p,
    ul,
    ol,
    dl {
      margin-bottom: 0;
    }
  }

  table {
    margin-top: var(--md1);
    margin-bottom: var(--md1);
  }
}
