/* PROSE - Default style for text content */

.prose {
  code {
    padding: 0.15em 0.3em;
    background-color: var(--primary-100);
    color: var(--primary-600);
    border-radius: var(--radius-sm);
  }

  p,
  ul,
  ol {
    max-width: 65ch;
    margin-bottom: var(--prose-margin);
  }

  table {
    margin-top: var(--prose-margin);
    margin-bottom: var(--prose-margin);
  }
}
