.layout {
  width: 100vw;
}

.layout-centered {
  .layout_content {
    display: grid;
    gap: var(--sm3);
    grid-template-columns: 1fr minmax(0, 70ch) 1fr;
    margin-top: var(--xl3);
    @media (--md) {
      gap: var(--md3);
    }
  }

  .layout_content_main {
    grid-column: 2/2;
  }
}

.layout-sidebar {
  .layout_content {
    @media (--md) {
      display: grid;
      gap: var(--md3);
      grid-template-columns: var(--layout_content_aside-width) minmax(0, 1fr);
    }
  }

  .layout_content_main {
    padding: var(--md1);
    @media (--md) {
      max-width: calc(71ch + (var(--lg1) * 2));
      padding: var(--lg1);
    }
  }

  .layout_content_aside {
    display: none;
    @media (--md) {
      display: block;
    }

    nav {
      /* sticky for every nav, not just .navDocs */
      position: sticky;
      top: var(--header-height);
      padding: var(--lg1) var(--md3);
    }
  }
}
