/* HELPER RATIOS */

.ar-square {
  aspect-ratio: var(--ar-square);
}

.ar-landscape {
  aspect-ratio: var(--ar-landscape);
}

.ar-portrait {
  aspect-ratio: var(--ar-portrait);
}

.ar-widescreen {
  aspect-ratio: var(--ar-widescreen);
}

.ar-golden {
  aspect-ratio: var(--ar-golden);
}
