/* HELPER OVERFLOW */

.of-auto,
.overflow-auto {
  overflow: auto;
}

.of-hidden,
.overflow-hidden {
  overflow: hidden;
}

.of-clip,
.overflow-clip {
  overflow: clip;
}

.of-visible,
.overflow-visible {
  overflow: visible;
}

.of-scroll,
.overflow-scroll {
  overflow: scroll;
}

.of-x-auto,
.overflow-x-auto {
  overflow-x: auto;
}

.of-y-auto,
.overflow-y-auto {
  overflow-y: auto;
}

.of-x-hidden,
.overflow-x-hidden {
  overflow-x: hidden;
}

.of-y-hidden,
.overflow-y-hidden {
  overflow-y: hidden;
}

.of-x-clip,
.overflow-x-clip {
  overflow-x: clip;
}

.of-y-clip,
.overflow-y-clip {
  overflow-y: clip;
}

.of-x-visible,
.overflow-x-visible {
  overflow-x: visible;
}

.of-y-visible,
.overflow-y-visible {
  overflow-y: visible;
}

.of-x-scroll,
.overflow-x-scroll {
  overflow-x: scroll;
}

.of-y-scroll,
.overflow-y-scroll {
  overflow-y: scroll;
}

/* HELPER POSITION */

.static,
.position-static {
  position: static;
}

.fixed,
.position-fixed {
  position: fixed;
}

.absolute,
.position-absolute {
  position: absolute;
}

.relative,
.position-relative {
  position: relative;
}

.sticky,
.position-sticky {
  position: sticky;
}

/* HELPER VISIBILITY  */

.visible,
.visibility-visible {
  visibility: visible;
}

.hidden,
.visibility-hidden {
  visibility: hidden;
}

.collapse,
.visibility-collapse {
  visibility: collapse;
}

/* HELPER Z-INDEX  */

.z-auto {
  z-index: auto;
}

.z-bottom {
  z-index: var(--z-bottom);
}

.z-0 {
  z-index: var(--z-0);
}

.z-1 {
  z-index: var(--z-1);
}

.z-2 {
  z-index: var(--z-2);
}

.z-3 {
  z-index: var(--z-3);
}

.z-4 {
  z-index: var(--z-4);
}

.z-5 {
  z-index: var(--z-5);
}

.z-top {
  z-index: var(--z-top);
}
