/* LAYOUT GRID */
.l_grid {
  display: grid;
  --grid-tc: repeat(4, 1fr);
  --grid-cs: 1; /* column start */
  --grid-ce: -1; /* column end */
  grid-template-columns: var(--grid-tc);
  grid-column-gap: var(--grid-column-gap);
  grid-row-gap: var(--grid-row-gap);
}

/* DEFAULT */
.l_grid > .l_cell { display: block; -moz-appearance: none; appearance: none; -webkit-appearance: none }
.l_grid[col="1"] { --grid-tc: repeat(1, 1fr) }
.l_grid[col="2"] { --grid-tc: repeat(2, 1fr) }
.l_grid[col="3"] { --grid-tc: repeat(3, 1fr) }
.l_grid[col="4"] { --grid-tc: repeat(4, 1fr) }
.l_grid[col="5"] { --grid-tc: repeat(5, 1fr) }
.l_grid[col="6"] { --grid-tc: repeat(6, 1fr) }
.l_grid[col="7"] { --grid-tc: repeat(7, 1fr) }
.l_grid[col="8"] { --grid-tc: repeat(8, 1fr) }
.l_grid[col="9"] { --grid-tc: repeat(9, 1fr) }
.l_grid[col="10"] { --grid-tc: repeat(10, 1fr) }
.l_grid[col="11"] { --grid-tc: repeat(11, 1fr) }
.l_grid[col="12"] { --grid-tc: repeat(12, 1fr) }
.l_grid[col="13"] { --grid-tc: repeat(13, 1fr) }
.l_grid[col="14"] { --grid-tc: repeat(14, 1fr) }
.l_grid[col="15"] { --grid-tc: repeat(15, 1fr) }
.l_grid[col="16"] { --grid-tc: repeat(16, 1fr) }
.l_grid[col="17"] { --grid-tc: repeat(17, 1fr) }
.l_grid[col="18"] { --grid-tc: repeat(18, 1fr) }
.l_grid[col="19"] { --grid-tc: repeat(19, 1fr) }
.l_grid[col="20"] { --grid-tc: repeat(20, 1fr) }
.l_grid[col="21"] { --grid-tc: repeat(21, 1fr) }
.l_grid[col="22"] { --grid-tc: repeat(22, 1fr) }
.l_grid[col="23"] { --grid-tc: repeat(23, 1fr) }
.l_grid[col="24"] { --grid-tc: repeat(24, 1fr) }
/* span=start... */
.l_grid > .l_cell[span^="1"] { --grid-cs: 1 }
.l_grid > .l_cell[span^="2"] { --grid-cs: 2 }
.l_grid > .l_cell[span^="3"] { --grid-cs: 3 }
.l_grid > .l_cell[span^="4"] { --grid-cs: 4 }
.l_grid > .l_cell[span^="5"] { --grid-cs: 5 }
.l_grid > .l_cell[span^="6"] { --grid-cs: 6 }
.l_grid > .l_cell[span^="7"] { --grid-cs: 7 }
.l_grid > .l_cell[span^="8"] { --grid-cs: 8 }
.l_grid > .l_cell[span^="9"] { --grid-cs: 9 }
.l_grid > .l_cell[span^="10"] { --grid-cs: 10 }
.l_grid > .l_cell[span^="11"] { --grid-cs: 11 }
.l_grid > .l_cell[span^="12"] { --grid-cs: 12 }
.l_grid > .l_cell[span^="13"] { --grid-cs: 13 }
.l_grid > .l_cell[span^="14"] { --grid-cs: 14 }
.l_grid > .l_cell[span^="15"] { --grid-cs: 15 }
.l_grid > .l_cell[span^="16"] { --grid-cs: 16 }
.l_grid > .l_cell[span^="17"] { --grid-cs: 17 }
.l_grid > .l_cell[span^="18"] { --grid-cs: 18 }
.l_grid > .l_cell[span^="19"] { --grid-cs: 19 }
.l_grid > .l_cell[span^="20"] { --grid-cs: 20 }
.l_grid > .l_cell[span^="21"] { --grid-cs: 21 }
.l_grid > .l_cell[span^="22"] { --grid-cs: 22 }
.l_grid > .l_cell[span^="23"] { --grid-cs: 23 }
.l_grid > .l_cell[span^="24"] { --grid-cs: 24 }
/* span=...+width, span=...-end */
.l_grid > .l_cell[span$="+1"], .l_grid > .l_cell[span="1"] { --grid-ce: 1 }
.l_grid > .l_cell[span$="+2"], .l_grid > .l_cell[span$="-1"], .l_grid > .l_cell[span="2"] { --grid-ce: 2 }
.l_grid > .l_cell[span$="+3"], .l_grid > .l_cell[span$="-2"], .l_grid > .l_cell[span="3"] { --grid-ce: 3 }
.l_grid > .l_cell[span$="+4"], .l_grid > .l_cell[span$="-3"], .l_grid > .l_cell[span="4"] { --grid-ce: 4 }
.l_grid > .l_cell[span$="+5"], .l_grid > .l_cell[span$="-4"], .l_grid > .l_cell[span="5"] { --grid-ce: 5 }
.l_grid > .l_cell[span$="+6"], .l_grid > .l_cell[span$="-5"], .l_grid > .l_cell[span="6"] { --grid-ce: 6 }
.l_grid > .l_cell[span$="+7"], .l_grid > .l_cell[span$="-6"], .l_grid > .l_cell[span="7"] { --grid-ce: 7 }
.l_grid > .l_cell[span$="+8"], .l_grid > .l_cell[span$="-7"], .l_grid > .l_cell[span="8"] { --grid-ce: 8 }
.l_grid > .l_cell[span$="+9"], .l_grid > .l_cell[span$="-8"], .l_grid > .l_cell[span="9"] { --grid-ce: 9 }
.l_grid > .l_cell[span$="+10"], .l_grid > .l_cell[span$="-9"], .l_grid > .l_cell[span="10"] { --grid-ce: 10 }
.l_grid > .l_cell[span$="+11"], .l_grid > .l_cell[span$="-10"], .l_grid > .l_cell[span="11"] { --grid-ce: 11 }
.l_grid > .l_cell[span$="+12"], .l_grid > .l_cell[span$="-11"], .l_grid > .l_cell[span="12"] { --grid-ce: 12 }
.l_grid > .l_cell[span$="+13"], .l_grid > .l_cell[span$="-12"], .l_grid > .l_cell[span="13"] { --grid-ce: 13 }
.l_grid > .l_cell[span$="+14"], .l_grid > .l_cell[span$="-13"], .l_grid > .l_cell[span="14"] { --grid-ce: 14 }
.l_grid > .l_cell[span$="+15"], .l_grid > .l_cell[span$="-14"], .l_grid > .l_cell[span="15"] { --grid-ce: 15 }
.l_grid > .l_cell[span$="+16"], .l_grid > .l_cell[span$="-15"], .l_grid > .l_cell[span="16"] { --grid-ce: 16 }
.l_grid > .l_cell[span$="+17"], .l_grid > .l_cell[span$="-16"], .l_grid > .l_cell[span="17"] { --grid-ce: 17 }
.l_grid > .l_cell[span$="+18"], .l_grid > .l_cell[span$="-17"], .l_grid > .l_cell[span="18"] { --grid-ce: 18 }
.l_grid > .l_cell[span$="+19"], .l_grid > .l_cell[span$="-18"], .l_grid > .l_cell[span="19"] { --grid-ce: 19 }
.l_grid > .l_cell[span$="+20"], .l_grid > .l_cell[span$="-19"], .l_grid > .l_cell[span="20"] { --grid-ce: 20 }
.l_grid > .l_cell[span$="+21"], .l_grid > .l_cell[span$="-20"], .l_grid > .l_cell[span="21"] { --grid-ce: 21 }
.l_grid > .l_cell[span$="+22"], .l_grid > .l_cell[span$="-21"], .l_grid > .l_cell[span="22"] { --grid-ce: 22 }
.l_grid > .l_cell[span$="+23"], .l_grid > .l_cell[span$="-22"], .l_grid > .l_cell[span="23"] { --grid-ce: 23 }
.l_grid > .l_cell[span$="+24"], .l_grid > .l_cell[span$="-23"], .l_grid > .l_cell[span="24"] { --grid-ce: 24 }
.l_grid > .l_cell[span$="-24"]  { --grid-ce: 25 }
/* connect vars */
.l_grid > .l_cell[span] { grid-column-end: span var(--grid-ce) }
.l_grid > .l_cell[span*="+"], .l_grid > .l_cell[span*="-"], .l_grid > .l_cell[span*=".."] {
  grid-column-start: var(--grid-cs) }
.l_grid > .l_cell[span*="-"], .l_grid > .l_cell[span*=".."] {
  grid-column-end: var(--grid-ce) }
.l_grid > .l_cell[span="row"] { grid-column: 1 / -1 }

/* SMALL — window <= 600 */
@media only screen and (max-width: 600px) {
  .l_grid[col-s="1"] { --grid-tc: repeat(1, 1fr) }
  .l_grid[col-s="2"] { --grid-tc: repeat(2, 1fr) }
  .l_grid[col-s="3"] { --grid-tc: repeat(3, 1fr) }
  .l_grid[col-s="4"] { --grid-tc: repeat(4, 1fr) }
  .l_grid[col-s="5"] { --grid-tc: repeat(5, 1fr) }
  .l_grid[col-s="6"] { --grid-tc: repeat(6, 1fr) }
  .l_grid[col-s="7"] { --grid-tc: repeat(7, 1fr) }
  .l_grid[col-s="8"] { --grid-tc: repeat(8, 1fr) }
  .l_grid[col-s="9"] { --grid-tc: repeat(9, 1fr) }
  .l_grid[col-s="10"] { --grid-tc: repeat(10, 1fr) }
  .l_grid[col-s="11"] { --grid-tc: repeat(11, 1fr) }
  .l_grid[col-s="12"] { --grid-tc: repeat(12, 1fr) }
  .l_grid[col-s="13"] { --grid-tc: repeat(13, 1fr) }
  .l_grid[col-s="14"] { --grid-tc: repeat(14, 1fr) }
  .l_grid[col-s="15"] { --grid-tc: repeat(15, 1fr) }
  .l_grid[col-s="16"] { --grid-tc: repeat(16, 1fr) }
  .l_grid[col-s="17"] { --grid-tc: repeat(17, 1fr) }
  .l_grid[col-s="18"] { --grid-tc: repeat(18, 1fr) }
  .l_grid[col-s="19"] { --grid-tc: repeat(19, 1fr) }
  .l_grid[col-s="20"] { --grid-tc: repeat(20, 1fr) }
  .l_grid[col-s="21"] { --grid-tc: repeat(21, 1fr) }
  .l_grid[col-s="22"] { --grid-tc: repeat(22, 1fr) }
  .l_grid[col-s="23"] { --grid-tc: repeat(23, 1fr) }
  .l_grid[col-s="24"] { --grid-tc: repeat(24, 1fr) }

  /* span-s=start... */
  .l_grid > .l_cell[span-s^="1"] { --grid-cs: 1 }
  .l_grid > .l_cell[span-s^="2"] { --grid-cs: 2 }
  .l_grid > .l_cell[span-s^="3"] { --grid-cs: 3 }
  .l_grid > .l_cell[span-s^="4"] { --grid-cs: 4 }
  .l_grid > .l_cell[span-s^="5"] { --grid-cs: 5 }
  .l_grid > .l_cell[span-s^="6"] { --grid-cs: 6 }
  .l_grid > .l_cell[span-s^="7"] { --grid-cs: 7 }
  .l_grid > .l_cell[span-s^="8"] { --grid-cs: 8 }
  .l_grid > .l_cell[span-s^="9"] { --grid-cs: 9 }
  .l_grid > .l_cell[span-s^="10"] { --grid-cs: 10 }
  .l_grid > .l_cell[span-s^="11"] { --grid-cs: 11 }
  .l_grid > .l_cell[span-s^="12"] { --grid-cs: 12 }
  .l_grid > .l_cell[span-s^="13"] { --grid-cs: 13 }
  .l_grid > .l_cell[span-s^="14"] { --grid-cs: 14 }
  .l_grid > .l_cell[span-s^="15"] { --grid-cs: 15 }
  .l_grid > .l_cell[span-s^="16"] { --grid-cs: 16 }
  .l_grid > .l_cell[span-s^="17"] { --grid-cs: 17 }
  .l_grid > .l_cell[span-s^="18"] { --grid-cs: 18 }
  .l_grid > .l_cell[span-s^="19"] { --grid-cs: 19 }
  .l_grid > .l_cell[span-s^="20"] { --grid-cs: 20 }
  .l_grid > .l_cell[span-s^="21"] { --grid-cs: 21 }
  .l_grid > .l_cell[span-s^="22"] { --grid-cs: 22 }
  .l_grid > .l_cell[span-s^="23"] { --grid-cs: 23 }
  .l_grid > .l_cell[span-s^="24"] { --grid-cs: 24 }

  /* span-s=...+width, span-s=...-end */
  .l_grid > .l_cell[span-s$="+1"], .l_grid > .l_cell[span-s="1"] { --grid-ce: 1 }
  .l_grid > .l_cell[span-s$="+2"], .l_grid > .l_cell[span-s$="-1"], .l_grid > .l_cell[span-s="2"] { --grid-ce: 2 }
  .l_grid > .l_cell[span-s$="+3"], .l_grid > .l_cell[span-s$="-2"], .l_grid > .l_cell[span-s="3"] { --grid-ce: 3 }
  .l_grid > .l_cell[span-s$="+4"], .l_grid > .l_cell[span-s$="-3"], .l_grid > .l_cell[span-s="4"] { --grid-ce: 4 }
  .l_grid > .l_cell[span-s$="+5"], .l_grid > .l_cell[span-s$="-4"], .l_grid > .l_cell[span-s="5"] { --grid-ce: 5 }
  .l_grid > .l_cell[span-s$="+6"], .l_grid > .l_cell[span-s$="-5"], .l_grid > .l_cell[span-s="6"] { --grid-ce: 6 }
  .l_grid > .l_cell[span-s$="+7"], .l_grid > .l_cell[span-s$="-6"], .l_grid > .l_cell[span-s="7"] { --grid-ce: 7 }
  .l_grid > .l_cell[span-s$="+8"], .l_grid > .l_cell[span-s$="-7"], .l_grid > .l_cell[span-s="8"] { --grid-ce: 8 }
  .l_grid > .l_cell[span-s$="+9"], .l_grid > .l_cell[span-s$="-8"], .l_grid > .l_cell[span-s="9"] { --grid-ce: 9 }
  .l_grid > .l_cell[span-s$="+10"], .l_grid > .l_cell[span-s$="-9"], .l_grid > .l_cell[span-s="10"] { --grid-ce: 10 }
  .l_grid > .l_cell[span-s$="+11"], .l_grid > .l_cell[span-s$="-10"], .l_grid > .l_cell[span-s="11"] { --grid-ce: 11 }
  .l_grid > .l_cell[span-s$="+12"], .l_grid > .l_cell[span-s$="-11"], .l_grid > .l_cell[span-s="12"] { --grid-ce: 12 }
  .l_grid > .l_cell[span-s$="+13"], .l_grid > .l_cell[span-s$="-12"], .l_grid > .l_cell[span-s="13"] { --grid-ce: 13 }
  .l_grid > .l_cell[span-s$="+14"], .l_grid > .l_cell[span-s$="-13"], .l_grid > .l_cell[span-s="14"] { --grid-ce: 14 }
  .l_grid > .l_cell[span-s$="+15"], .l_grid > .l_cell[span-s$="-14"], .l_grid > .l_cell[span-s="15"] { --grid-ce: 15 }
  .l_grid > .l_cell[span-s$="+16"], .l_grid > .l_cell[span-s$="-15"], .l_grid > .l_cell[span-s="16"] { --grid-ce: 16 }
  .l_grid > .l_cell[span-s$="+17"], .l_grid > .l_cell[span-s$="-16"], .l_grid > .l_cell[span-s="17"] { --grid-ce: 17 }
  .l_grid > .l_cell[span-s$="+18"], .l_grid > .l_cell[span-s$="-17"], .l_grid > .l_cell[span-s="18"] { --grid-ce: 18 }
  .l_grid > .l_cell[span-s$="+19"], .l_grid > .l_cell[span-s$="-18"], .l_grid > .l_cell[span-s="19"] { --grid-ce: 19 }
  .l_grid > .l_cell[span-s$="+20"], .l_grid > .l_cell[span-s$="-19"], .l_grid > .l_cell[span-s="20"] { --grid-ce: 20 }
  .l_grid > .l_cell[span-s$="+21"], .l_grid > .l_cell[span-s$="-20"], .l_grid > .l_cell[span-s="21"] { --grid-ce: 21 }
  .l_grid > .l_cell[span-s$="+22"], .l_grid > .l_cell[span-s$="-21"], .l_grid > .l_cell[span-s="22"] { --grid-ce: 22 }
  .l_grid > .l_cell[span-s$="+23"], .l_grid > .l_cell[span-s$="-22"], .l_grid > .l_cell[span-s="23"] { --grid-ce: 23 }
  .l_grid > .l_cell[span-s$="+24"], .l_grid > .l_cell[span-s$="-23"], .l_grid > .l_cell[span-s="24"] { --grid-ce: 24 }
  .l_grid > .l_cell[span-s$="-24"] { --grid-ce: 25 }

  /* connect vars */
  .l_grid > .l_cell[span-s] { grid-column-end: span var(--grid-ce) }
  .l_grid > .l_cell[span-s*="+"], .l_grid > .l_cell[span-s*="-"], .l_grid > .l_cell[span-s*=".."] {
    grid-column-start: var(--grid-cs) }
  .l_grid > .l_cell[span-s*="-"], .l_grid > .l_cell[span-s*=".."] {
    grid-column-end: var(--grid-ce) }
  .l_grid > .l_cell[span-s="row"] { grid-column: 1 / -1 }
}
/* LARGE -  width >= 1600 */
@media only screen and (min-width: 1599px) {
  .l_grid[col-l="1"] { --grid-tc: repeat(1, 1fr) }
  .l_grid[col-l="2"] { --grid-tc: repeat(2, 1fr) }
  .l_grid[col-l="3"] { --grid-tc: repeat(3, 1fr) }
  .l_grid[col-l="4"] { --grid-tc: repeat(4, 1fr) }
  .l_grid[col-l="5"] { --grid-tc: repeat(5, 1fr) }
  .l_grid[col-l="6"] { --grid-tc: repeat(6, 1fr) }
  .l_grid[col-l="7"] { --grid-tc: repeat(7, 1fr) }
  .l_grid[col-l="8"] { --grid-tc: repeat(8, 1fr) }
  .l_grid[col-l="9"] { --grid-tc: repeat(9, 1fr) }
  .l_grid[col-l="10"] { --grid-tc: repeat(10, 1fr) }
  .l_grid[col-l="11"] { --grid-tc: repeat(11, 1fr) }
  .l_grid[col-l="12"] { --grid-tc: repeat(12, 1fr) }
  .l_grid[col-l="13"] { --grid-tc: repeat(13, 1fr) }
  .l_grid[col-l="14"] { --grid-tc: repeat(14, 1fr) }
  .l_grid[col-l="15"] { --grid-tc: repeat(15, 1fr) }
  .l_grid[col-l="16"] { --grid-tc: repeat(16, 1fr) }
  .l_grid[col-l="17"] { --grid-tc: repeat(17, 1fr) }
  .l_grid[col-l="18"] { --grid-tc: repeat(18, 1fr) }
  .l_grid[col-l="19"] { --grid-tc: repeat(19, 1fr) }
  .l_grid[col-l="20"] { --grid-tc: repeat(20, 1fr) }
  .l_grid[col-l="21"] { --grid-tc: repeat(21, 1fr) }
  .l_grid[col-l="22"] { --grid-tc: repeat(22, 1fr) }
  .l_grid[col-l="23"] { --grid-tc: repeat(23, 1fr) }
  .l_grid[col-l="24"] { --grid-tc: repeat(24, 1fr) }

  /* span-l=start... */
  .l_grid > .l_cell[span-l^="1"] { --grid-cs: 1 }
  .l_grid > .l_cell[span-l^="2"] { --grid-cs: 2 }
  .l_grid > .l_cell[span-l^="3"] { --grid-cs: 3 }
  .l_grid > .l_cell[span-l^="4"] { --grid-cs: 4 }
  .l_grid > .l_cell[span-l^="5"] { --grid-cs: 5 }
  .l_grid > .l_cell[span-l^="6"] { --grid-cs: 6 }
  .l_grid > .l_cell[span-l^="7"] { --grid-cs: 7 }
  .l_grid > .l_cell[span-l^="8"] { --grid-cs: 8 }
  .l_grid > .l_cell[span-l^="9"] { --grid-cs: 9 }
  .l_grid > .l_cell[span-l^="10"] { --grid-cs: 10 }
  .l_grid > .l_cell[span-l^="11"] { --grid-cs: 11 }
  .l_grid > .l_cell[span-l^="12"] { --grid-cs: 12 }
  .l_grid > .l_cell[span-l^="13"] { --grid-cs: 13 }
  .l_grid > .l_cell[span-l^="14"] { --grid-cs: 14 }
  .l_grid > .l_cell[span-l^="15"] { --grid-cs: 15 }
  .l_grid > .l_cell[span-l^="16"] { --grid-cs: 16 }
  .l_grid > .l_cell[span-l^="17"] { --grid-cs: 17 }
  .l_grid > .l_cell[span-l^="18"] { --grid-cs: 18 }
  .l_grid > .l_cell[span-l^="19"] { --grid-cs: 19 }
  .l_grid > .l_cell[span-l^="20"] { --grid-cs: 20 }
  .l_grid > .l_cell[span-l^="21"] { --grid-cs: 21 }
  .l_grid > .l_cell[span-l^="22"] { --grid-cs: 22 }
  .l_grid > .l_cell[span-l^="23"] { --grid-cs: 23 }
  .l_grid > .l_cell[span-l^="24"] { --grid-cs: 24 }

  /* span-l=...+width, span-l=...-end */
  .l_grid > .l_cell[span-l$="+1"], .l_grid > .l_cell[span-l="1"] { --grid-ce: 1 }
  .l_grid > .l_cell[span-l$="+2"], .l_grid > .l_cell[span-l$="-1"], .l_grid > .l_cell[span-l="2"] { --grid-ce: 2 }
  .l_grid > .l_cell[span-l$="+3"], .l_grid > .l_cell[span-l$="-2"], .l_grid > .l_cell[span-l="3"] { --grid-ce: 3 }
  .l_grid > .l_cell[span-l$="+4"], .l_grid > .l_cell[span-l$="-3"], .l_grid > .l_cell[span-l="4"] { --grid-ce: 4 }
  .l_grid > .l_cell[span-l$="+5"], .l_grid > .l_cell[span-l$="-4"], .l_grid > .l_cell[span-l="5"] { --grid-ce: 5 }
  .l_grid > .l_cell[span-l$="+6"], .l_grid > .l_cell[span-l$="-5"], .l_grid > .l_cell[span-l="6"] { --grid-ce: 6 }
  .l_grid > .l_cell[span-l$="+7"], .l_grid > .l_cell[span-l$="-6"], .l_grid > .l_cell[span-l="7"] { --grid-ce: 7 }
  .l_grid > .l_cell[span-l$="+8"], .l_grid > .l_cell[span-l$="-7"], .l_grid > .l_cell[span-l="8"] { --grid-ce: 8 }
  .l_grid > .l_cell[span-l$="+9"], .l_grid > .l_cell[span-l$="-8"], .l_grid > .l_cell[span-l="9"] { --grid-ce: 9 }
  .l_grid > .l_cell[span-l$="+10"], .l_grid > .l_cell[span-l$="-9"], .l_grid > .l_cell[span-l="10"] { --grid-ce: 10 }
  .l_grid > .l_cell[span-l$="+11"], .l_grid > .l_cell[span-l$="-10"], .l_grid > .l_cell[span-l="11"] { --grid-ce: 11 }
  .l_grid > .l_cell[span-l$="+12"], .l_grid > .l_cell[span-l$="-11"], .l_grid > .l_cell[span-l="12"] { --grid-ce: 12 }
  .l_grid > .l_cell[span-l$="+13"], .l_grid > .l_cell[span-l$="-12"], .l_grid > .l_cell[span-l="13"] { --grid-ce: 13 }
  .l_grid > .l_cell[span-l$="+14"], .l_grid > .l_cell[span-l$="-13"], .l_grid > .l_cell[span-l="14"] { --grid-ce: 14 }
  .l_grid > .l_cell[span-l$="+15"], .l_grid > .l_cell[span-l$="-14"], .l_grid > .l_cell[span-l="15"] { --grid-ce: 15 }
  .l_grid > .l_cell[span-l$="+16"], .l_grid > .l_cell[span-l$="-15"], .l_grid > .l_cell[span-l="16"] { --grid-ce: 16 }
  .l_grid > .l_cell[span-l$="+17"], .l_grid > .l_cell[span-l$="-16"], .l_grid > .l_cell[span-l="17"] { --grid-ce: 17 }
  .l_grid > .l_cell[span-l$="+18"], .l_grid > .l_cell[span-l$="-17"], .l_grid > .l_cell[span-l="18"] { --grid-ce: 18 }
  .l_grid > .l_cell[span-l$="+19"], .l_grid > .l_cell[span-l$="-18"], .l_grid > .l_cell[span-l="19"] { --grid-ce: 19 }
  .l_grid > .l_cell[span-l$="+20"], .l_grid > .l_cell[span-l$="-19"], .l_grid > .l_cell[span-l="20"] { --grid-ce: 20 }
  .l_grid > .l_cell[span-l$="+21"], .l_grid > .l_cell[span-l$="-20"], .l_grid > .l_cell[span-l="21"] { --grid-ce: 21 }
  .l_grid > .l_cell[span-l$="+22"], .l_grid > .l_cell[span-l$="-21"], .l_grid > .l_cell[span-l="22"] { --grid-ce: 22 }
  .l_grid > .l_cell[span-l$="+23"], .l_grid > .l_cell[span-l$="-22"], .l_grid > .l_cell[span-l="23"] { --grid-ce: 23 }
  .l_grid > .l_cell[span-l$="+24"], .l_grid > .l_cell[span-l$="-23"], .l_grid > .l_cell[span-l="24"] { --grid-ce: 24 }
  .l_grid > .l_cell[span-l$="-24"] { --grid-ce: 25 }

  /* connect vars */
  .l_grid > .l_cell[span-l] { grid-column-end: span var(--grid-ce) }
  .l_grid > .l_cell[span-l*="+"], .l_grid > .l_cell[span-l*="-"], .l_grid > .l_cell[span-l*=".."] {
    grid-column-start: var(--grid-cs) }
  .l_grid > .l_cell[span-l*="-"], .l_grid > .l_cell[span-l*=".."] {
    grid-column-end: var(--grid-ce) }
  .l_grid > .l_cell[span-l="row"] { grid-column: 1 / -1 }
}
/* .debug can be added to a .l_grid to visualize its effective cells */
.l_grid.debug > * {
  --color: rgba(248,110,91 ,0.3);
  background-image:
    linear-gradient(to bottom, var(--color) 0%, var(--color) 100%);
}
.l_grid.debug > :nth-child(6n+2) { --color: rgba(103,126,208,0.3) }
.l_grid.debug > :nth-child(6n+3) { --color: rgba(224,174,72 ,0.3) }
.l_grid.debug > :nth-child(6n+4) { --color: rgba(77, 214,115,0.3) }
.l_grid.debug > :nth-child(6n+5) { --color: rgba(217,103,219,0.3) }
.l_grid.debug > :nth-child(6n+6) { --color: rgba(94, 204,211,0.3) }
.l_grid.debug > :nth-child(6n+7) { --color: rgba(248,110,91 ,0.3) }
