/* LAYOUT WRAP */

.wrap {
  display: grid;
  grid-template-columns: 1fr var(--wrap-width) 1fr;

  > *,
  > astro-island > *,
  > astro-slot > *,
  > astro-static-slot > * {
    grid-column: 2;
    padding-left: var(--wrap-padding);
    padding-right: var(--wrap-padding);
  }
}

.wrap_content-fullbleed {
  grid-column: 1 / -1;
  width: 100%;
  object-fit: cover;
}
