/* LAYOUT WRAP */

.l_wrap {
  --space: var(--md2);
  display: grid;
  grid-template-columns: 1fr minmax(300px, 800px) 1fr;

  > *,
  > astro-island > *,
  > astro-slot > *,
  > astro-static-slot > * {
    grid-column: 2;
    padding-left: var(--space);
    padding-right: var(--space);
  }
}

.l_wrap_content-fullbleed {
  grid-column: 1 / -1;
  width: 100%;
  object-fit: cover;
}
