/* LAYOUT GRID */
.l_grid {
  display: grid;
  --grid-tc: repeat(4, 1fr);
  --grid-cs: 1; /* column start */
  --grid-ce: -1; /* column end */
  grid-template-columns: var(--grid-tc);
  grid-column-gap: var(--grid-column-gap);
  grid-row-gap: var(--grid-row-gap);
}

/* DEFAULT */
.l_grid > .l_cell { display: block; -moz-appearance: none; appearance: none; -webkit-appearance: none }
.l_grid[col="1"] { --grid-tc: repeat(1, 1fr) }
.l_grid[col="2"] { --grid-tc: repeat(2, 1fr) }
.l_grid[col="3"] { --grid-tc: repeat(3, 1fr) }
.l_grid[col="4"] { --grid-tc: repeat(4, 1fr) }
.l_grid[col="5"] { --grid-tc: repeat(5, 1fr) }
.l_grid[col="6"] { --grid-tc: repeat(6, 1fr) }
.l_grid[col="7"] { --grid-tc: repeat(7, 1fr) }
.l_grid[col="8"] { --grid-tc: repeat(8, 1fr) }
.l_grid[col="9"] { --grid-tc: repeat(9, 1fr) }
.l_grid[col="10"] { --grid-tc: repeat(10, 1fr) }
.l_grid[col="11"] { --grid-tc: repeat(11, 1fr) }
.l_grid[col="12"] { --grid-tc: repeat(12, 1fr) }
.l_grid[col="13"] { --grid-tc: repeat(13, 1fr) }
.l_grid[col="14"] { --grid-tc: repeat(14, 1fr) }
.l_grid[col="15"] { --grid-tc: repeat(15, 1fr) }
.l_grid[col="16"] { --grid-tc: repeat(16, 1fr) }
.l_grid[col="17"] { --grid-tc: repeat(17, 1fr) }
.l_grid[col="18"] { --grid-tc: repeat(18, 1fr) }
.l_grid[col="19"] { --grid-tc: repeat(19, 1fr) }
.l_grid[col="20"] { --grid-tc: repeat(20, 1fr) }
.l_grid[col="21"] { --grid-tc: repeat(21, 1fr) }
.l_grid[col="22"] { --grid-tc: repeat(22, 1fr) }
.l_grid[col="23"] { --grid-tc: repeat(23, 1fr) }
.l_grid[col="24"] { --grid-tc: repeat(24, 1fr) }
/* span=start... */
.l_grid > .l_cell[span^="1"] { --grid-cs: 1 }
.l_grid > .l_cell[span^="2"] { --grid-cs: 2 }
.l_grid > .l_cell[span^="3"] { --grid-cs: 3 }
.l_grid > .l_cell[span^="4"] { --grid-cs: 4 }
.l_grid > .l_cell[span^="5"] { --grid-cs: 5 }
.l_grid > .l_cell[span^="6"] { --grid-cs: 6 }
.l_grid > .l_cell[span^="7"] { --grid-cs: 7 }
.l_grid > .l_cell[span^="8"] { --grid-cs: 8 }
.l_grid > .l_cell[span^="9"] { --grid-cs: 9 }
.l_grid > .l_cell[span^="10"] { --grid-cs: 10 }
.l_grid > .l_cell[span^="11"] { --grid-cs: 11 }
.l_grid > .l_cell[span^="12"] { --grid-cs: 12 }
.l_grid > .l_cell[span^="13"] { --grid-cs: 13 }
.l_grid > .l_cell[span^="14"] { --grid-cs: 14 }
.l_grid > .l_cell[span^="15"] { --grid-cs: 15 }
.l_grid > .l_cell[span^="16"] { --grid-cs: 16 }
.l_grid > .l_cell[span^="17"] { --grid-cs: 17 }
.l_grid > .l_cell[span^="18"] { --grid-cs: 18 }
.l_grid > .l_cell[span^="19"] { --grid-cs: 19 }
.l_grid > .l_cell[span^="20"] { --grid-cs: 20 }
.l_grid > .l_cell[span^="21"] { --grid-cs: 21 }
.l_grid > .l_cell[span^="22"] { --grid-cs: 22 }
.l_grid > .l_cell[span^="23"] { --grid-cs: 23 }
.l_grid > .l_cell[span^="24"] { --grid-cs: 24 }
/* span=...+width, span=...-end */
.l_grid > .l_cell[span$="+1"], .l_grid > .l_cell[span="1"] { --grid-ce: 1 }
.l_grid > .l_cell[span$="+2"], .l_grid > .l_cell[span$="-1"], .l_grid > .l_cell[span="2"] { --grid-ce: 2 }
.l_grid > .l_cell[span$="+3"], .l_grid > .l_cell[span$="-2"], .l_grid > .l_cell[span="3"] { --grid-ce: 3 }
.l_grid > .l_cell[span$="+4"], .l_grid > .l_cell[span$="-3"], .l_grid > .l_cell[span="4"] { --grid-ce: 4 }
.l_grid > .l_cell[span$="+5"], .l_grid > .l_cell[span$="-4"], .l_grid > .l_cell[span="5"] { --grid-ce: 5 }
.l_grid > .l_cell[span$="+6"], .l_grid > .l_cell[span$="-5"], .l_grid > .l_cell[span="6"] { --grid-ce: 6 }
.l_grid > .l_cell[span$="+7"], .l_grid > .l_cell[span$="-6"], .l_grid > .l_cell[span="7"] { --grid-ce: 7 }
.l_grid > .l_cell[span$="+8"], .l_grid > .l_cell[span$="-7"], .l_grid > .l_cell[span="8"] { --grid-ce: 8 }
.l_grid > .l_cell[span$="+9"], .l_grid > .l_cell[span$="-8"], .l_grid > .l_cell[span="9"] { --grid-ce: 9 }
.l_grid > .l_cell[span$="+10"], .l_grid > .l_cell[span$="-9"], .l_grid > .l_cell[span="10"] { --grid-ce: 10 }
.l_grid > .l_cell[span$="+11"], .l_grid > .l_cell[span$="-10"], .l_grid > .l_cell[span="11"] { --grid-ce: 11 }
.l_grid > .l_cell[span$="+12"], .l_grid > .l_cell[span$="-11"], .l_grid > .l_cell[span="12"] { --grid-ce: 12 }
.l_grid > .l_cell[span$="+13"], .l_grid > .l_cell[span$="-12"], .l_grid > .l_cell[span="13"] { --grid-ce: 13 }
.l_grid > .l_cell[span$="+14"], .l_grid > .l_cell[span$="-13"], .l_grid > .l_cell[span="14"] { --grid-ce: 14 }
.l_grid > .l_cell[span$="+15"], .l_grid > .l_cell[span$="-14"], .l_grid > .l_cell[span="15"] { --grid-ce: 15 }
.l_grid > .l_cell[span$="+16"], .l_grid > .l_cell[span$="-15"], .l_grid > .l_cell[span="16"] { --grid-ce: 16 }
.l_grid > .l_cell[span$="+17"], .l_grid > .l_cell[span$="-16"], .l_grid > .l_cell[span="17"] { --grid-ce: 17 }
.l_grid > .l_cell[span$="+18"], .l_grid > .l_cell[span$="-17"], .l_grid > .l_cell[span="18"] { --grid-ce: 18 }
.l_grid > .l_cell[span$="+19"], .l_grid > .l_cell[span$="-18"], .l_grid > .l_cell[span="19"] { --grid-ce: 19 }
.l_grid > .l_cell[span$="+20"], .l_grid > .l_cell[span$="-19"], .l_grid > .l_cell[span="20"] { --grid-ce: 20 }
.l_grid > .l_cell[span$="+21"], .l_grid > .l_cell[span$="-20"], .l_grid > .l_cell[span="21"] { --grid-ce: 21 }
.l_grid > .l_cell[span$="+22"], .l_grid > .l_cell[span$="-21"], .l_grid > .l_cell[span="22"] { --grid-ce: 22 }
.l_grid > .l_cell[span$="+23"], .l_grid > .l_cell[span$="-22"], .l_grid > .l_cell[span="23"] { --grid-ce: 23 }
.l_grid > .l_cell[span$="+24"], .l_grid > .l_cell[span$="-23"], .l_grid > .l_cell[span="24"] { --grid-ce: 24 }
.l_grid > .l_cell[span$="-24"]  { --grid-ce: 25 }
/* connect vars */
.l_grid > .l_cell[span] { grid-column-end: span var(--grid-ce) }
.l_grid > .l_cell[span*="+"], .l_grid > .l_cell[span*="-"], .l_grid > .l_cell[span*=".."] {
  grid-column-start: var(--grid-cs) }
.l_grid > .l_cell[span*="-"], .l_grid > .l_cell[span*=".."] {
  grid-column-end: var(--grid-ce) }
.l_grid > .l_cell[span="row"] { grid-column: 1 / -1 }

/* MD — window >= 768px */
@media only screen and (--md-n-above) {
  .l_grid[col-md="1"] { --grid-tc: repeat(1, 1fr) }
  .l_grid[col-md="2"] { --grid-tc: repeat(2, 1fr) }
  .l_grid[col-md="3"] { --grid-tc: repeat(3, 1fr) }
  .l_grid[col-md="4"] { --grid-tc: repeat(4, 1fr) }
  .l_grid[col-md="5"] { --grid-tc: repeat(5, 1fr) }
  .l_grid[col-md="6"] { --grid-tc: repeat(6, 1fr) }
  .l_grid[col-md="7"] { --grid-tc: repeat(7, 1fr) }
  .l_grid[col-md="8"] { --grid-tc: repeat(8, 1fr) }
  .l_grid[col-md="9"] { --grid-tc: repeat(9, 1fr) }
  .l_grid[col-md="10"] { --grid-tc: repeat(10, 1fr) }
  .l_grid[col-md="11"] { --grid-tc: repeat(11, 1fr) }
  .l_grid[col-md="12"] { --grid-tc: repeat(12, 1fr) }
  .l_grid[col-md="13"] { --grid-tc: repeat(13, 1fr) }
  .l_grid[col-md="14"] { --grid-tc: repeat(14, 1fr) }
  .l_grid[col-md="15"] { --grid-tc: repeat(15, 1fr) }
  .l_grid[col-md="16"] { --grid-tc: repeat(16, 1fr) }
  .l_grid[col-md="17"] { --grid-tc: repeat(17, 1fr) }
  .l_grid[col-md="18"] { --grid-tc: repeat(18, 1fr) }
  .l_grid[col-md="19"] { --grid-tc: repeat(19, 1fr) }
  .l_grid[col-md="20"] { --grid-tc: repeat(20, 1fr) }
  .l_grid[col-md="21"] { --grid-tc: repeat(21, 1fr) }
  .l_grid[col-md="22"] { --grid-tc: repeat(22, 1fr) }
  .l_grid[col-md="23"] { --grid-tc: repeat(23, 1fr) }
  .l_grid[col-md="24"] { --grid-tc: repeat(24, 1fr) }

  /* span-md=start... */
  .l_grid > .l_cell[span-md^="1"] { --grid-cs: 1 }
  .l_grid > .l_cell[span-md^="2"] { --grid-cs: 2 }
  .l_grid > .l_cell[span-md^="3"] { --grid-cs: 3 }
  .l_grid > .l_cell[span-md^="4"] { --grid-cs: 4 }
  .l_grid > .l_cell[span-md^="5"] { --grid-cs: 5 }
  .l_grid > .l_cell[span-md^="6"] { --grid-cs: 6 }
  .l_grid > .l_cell[span-md^="7"] { --grid-cs: 7 }
  .l_grid > .l_cell[span-md^="8"] { --grid-cs: 8 }
  .l_grid > .l_cell[span-md^="9"] { --grid-cs: 9 }
  .l_grid > .l_cell[span-md^="10"] { --grid-cs: 10 }
  .l_grid > .l_cell[span-md^="11"] { --grid-cs: 11 }
  .l_grid > .l_cell[span-md^="12"] { --grid-cs: 12 }
  .l_grid > .l_cell[span-md^="13"] { --grid-cs: 13 }
  .l_grid > .l_cell[span-md^="14"] { --grid-cs: 14 }
  .l_grid > .l_cell[span-md^="15"] { --grid-cs: 15 }
  .l_grid > .l_cell[span-md^="16"] { --grid-cs: 16 }
  .l_grid > .l_cell[span-md^="17"] { --grid-cs: 17 }
  .l_grid > .l_cell[span-md^="18"] { --grid-cs: 18 }
  .l_grid > .l_cell[span-md^="19"] { --grid-cs: 19 }
  .l_grid > .l_cell[span-md^="20"] { --grid-cs: 20 }
  .l_grid > .l_cell[span-md^="21"] { --grid-cs: 21 }
  .l_grid > .l_cell[span-md^="22"] { --grid-cs: 22 }
  .l_grid > .l_cell[span-md^="23"] { --grid-cs: 23 }
  .l_grid > .l_cell[span-md^="24"] { --grid-cs: 24 }

  /* span-md=...+width, span-md=...-end */
  .l_grid > .l_cell[span-md$="+1"], .l_grid > .l_cell[span-md="1"] { --grid-ce: 1 }
  .l_grid > .l_cell[span-md$="+2"], .l_grid > .l_cell[span-md$="-1"], .l_grid > .l_cell[span-md="2"] { --grid-ce: 2 }
  .l_grid > .l_cell[span-md$="+3"], .l_grid > .l_cell[span-md$="-2"], .l_grid > .l_cell[span-md="3"] { --grid-ce: 3 }
  .l_grid > .l_cell[span-md$="+4"], .l_grid > .l_cell[span-md$="-3"], .l_grid > .l_cell[span-md="4"] { --grid-ce: 4 }
  .l_grid > .l_cell[span-md$="+5"], .l_grid > .l_cell[span-md$="-4"], .l_grid > .l_cell[span-md="5"] { --grid-ce: 5 }
  .l_grid > .l_cell[span-md$="+6"], .l_grid > .l_cell[span-md$="-5"], .l_grid > .l_cell[span-md="6"] { --grid-ce: 6 }
  .l_grid > .l_cell[span-md$="+7"], .l_grid > .l_cell[span-md$="-6"], .l_grid > .l_cell[span-md="7"] { --grid-ce: 7 }
  .l_grid > .l_cell[span-md$="+8"], .l_grid > .l_cell[span-md$="-7"], .l_grid > .l_cell[span-md="8"] { --grid-ce: 8 }
  .l_grid > .l_cell[span-md$="+9"], .l_grid > .l_cell[span-md$="-8"], .l_grid > .l_cell[span-md="9"] { --grid-ce: 9 }
  .l_grid > .l_cell[span-md$="+10"], .l_grid > .l_cell[span-md$="-9"], .l_grid > .l_cell[span-md="10"] { --grid-ce: 10 }
  .l_grid > .l_cell[span-md$="+11"], .l_grid > .l_cell[span-md$="-10"], .l_grid > .l_cell[span-md="11"] { --grid-ce: 11 }
  .l_grid > .l_cell[span-md$="+12"], .l_grid > .l_cell[span-md$="-11"], .l_grid > .l_cell[span-md="12"] { --grid-ce: 12 }
  .l_grid > .l_cell[span-md$="+13"], .l_grid > .l_cell[span-md$="-12"], .l_grid > .l_cell[span-md="13"] { --grid-ce: 13 }
  .l_grid > .l_cell[span-md$="+14"], .l_grid > .l_cell[span-md$="-13"], .l_grid > .l_cell[span-md="14"] { --grid-ce: 14 }
  .l_grid > .l_cell[span-md$="+15"], .l_grid > .l_cell[span-md$="-14"], .l_grid > .l_cell[span-md="15"] { --grid-ce: 15 }
  .l_grid > .l_cell[span-md$="+16"], .l_grid > .l_cell[span-md$="-15"], .l_grid > .l_cell[span-md="16"] { --grid-ce: 16 }
  .l_grid > .l_cell[span-md$="+17"], .l_grid > .l_cell[span-md$="-16"], .l_grid > .l_cell[span-md="17"] { --grid-ce: 17 }
  .l_grid > .l_cell[span-md$="+18"], .l_grid > .l_cell[span-md$="-17"], .l_grid > .l_cell[span-md="18"] { --grid-ce: 18 }
  .l_grid > .l_cell[span-md$="+19"], .l_grid > .l_cell[span-md$="-18"], .l_grid > .l_cell[span-md="19"] { --grid-ce: 19 }
  .l_grid > .l_cell[span-md$="+20"], .l_grid > .l_cell[span-md$="-19"], .l_grid > .l_cell[span-md="20"] { --grid-ce: 20 }
  .l_grid > .l_cell[span-md$="+21"], .l_grid > .l_cell[span-md$="-20"], .l_grid > .l_cell[span-md="21"] { --grid-ce: 21 }
  .l_grid > .l_cell[span-md$="+22"], .l_grid > .l_cell[span-md$="-21"], .l_grid > .l_cell[span-md="22"] { --grid-ce: 22 }
  .l_grid > .l_cell[span-md$="+23"], .l_grid > .l_cell[span-md$="-22"], .l_grid > .l_cell[span-md="23"] { --grid-ce: 23 }
  .l_grid > .l_cell[span-md$="+24"], .l_grid > .l_cell[span-md$="-23"], .l_grid > .l_cell[span-md="24"] { --grid-ce: 24 }
  .l_grid > .l_cell[span-md$="-24"] { --grid-ce: 25 }

  /* connect vars */
  .l_grid > .l_cell[span-md] { grid-column-end: span var(--grid-ce) }
  .l_grid > .l_cell[span-md*="+"], .l_grid > .l_cell[span-md*="-"], .l_grid > .l_cell[span-md*=".."] {
    grid-column-start: var(--grid-cs) }
  .l_grid > .l_cell[span-md*="-"], .l_grid > .l_cell[span-md*=".."] {
    grid-column-end: var(--grid-ce) }
  .l_grid > .l_cell[span-md="row"] { grid-column: 1 / -1 }
}

/* LARGE -  width >= 1024 */
@media only screen and (--lg-n-above) {
  .l_grid[col-lg="1"] { --grid-tc: repeat(1, 1fr) }
  .l_grid[col-lg="2"] { --grid-tc: repeat(2, 1fr) }
  .l_grid[col-lg="3"] { --grid-tc: repeat(3, 1fr) }
  .l_grid[col-lg="4"] { --grid-tc: repeat(4, 1fr) }
  .l_grid[col-lg="5"] { --grid-tc: repeat(5, 1fr) }
  .l_grid[col-lg="6"] { --grid-tc: repeat(6, 1fr) }
  .l_grid[col-lg="7"] { --grid-tc: repeat(7, 1fr) }
  .l_grid[col-lg="8"] { --grid-tc: repeat(8, 1fr) }
  .l_grid[col-lg="9"] { --grid-tc: repeat(9, 1fr) }
  .l_grid[col-lg="10"] { --grid-tc: repeat(10, 1fr) }
  .l_grid[col-lg="11"] { --grid-tc: repeat(11, 1fr) }
  .l_grid[col-lg="12"] { --grid-tc: repeat(12, 1fr) }
  .l_grid[col-lg="13"] { --grid-tc: repeat(13, 1fr) }
  .l_grid[col-lg="14"] { --grid-tc: repeat(14, 1fr) }
  .l_grid[col-lg="15"] { --grid-tc: repeat(15, 1fr) }
  .l_grid[col-lg="16"] { --grid-tc: repeat(16, 1fr) }
  .l_grid[col-lg="17"] { --grid-tc: repeat(17, 1fr) }
  .l_grid[col-lg="18"] { --grid-tc: repeat(18, 1fr) }
  .l_grid[col-lg="19"] { --grid-tc: repeat(19, 1fr) }
  .l_grid[col-lg="20"] { --grid-tc: repeat(20, 1fr) }
  .l_grid[col-lg="21"] { --grid-tc: repeat(21, 1fr) }
  .l_grid[col-lg="22"] { --grid-tc: repeat(22, 1fr) }
  .l_grid[col-lg="23"] { --grid-tc: repeat(23, 1fr) }
  .l_grid[col-lg="24"] { --grid-tc: repeat(24, 1fr) }

  /* span-lg=start... */
  .l_grid > .l_cell[span-lg^="1"] { --grid-cs: 1 }
  .l_grid > .l_cell[span-lg^="2"] { --grid-cs: 2 }
  .l_grid > .l_cell[span-lg^="3"] { --grid-cs: 3 }
  .l_grid > .l_cell[span-lg^="4"] { --grid-cs: 4 }
  .l_grid > .l_cell[span-lg^="5"] { --grid-cs: 5 }
  .l_grid > .l_cell[span-lg^="6"] { --grid-cs: 6 }
  .l_grid > .l_cell[span-lg^="7"] { --grid-cs: 7 }
  .l_grid > .l_cell[span-lg^="8"] { --grid-cs: 8 }
  .l_grid > .l_cell[span-lg^="9"] { --grid-cs: 9 }
  .l_grid > .l_cell[span-lg^="10"] { --grid-cs: 10 }
  .l_grid > .l_cell[span-lg^="11"] { --grid-cs: 11 }
  .l_grid > .l_cell[span-lg^="12"] { --grid-cs: 12 }
  .l_grid > .l_cell[span-lg^="13"] { --grid-cs: 13 }
  .l_grid > .l_cell[span-lg^="14"] { --grid-cs: 14 }
  .l_grid > .l_cell[span-lg^="15"] { --grid-cs: 15 }
  .l_grid > .l_cell[span-lg^="16"] { --grid-cs: 16 }
  .l_grid > .l_cell[span-lg^="17"] { --grid-cs: 17 }
  .l_grid > .l_cell[span-lg^="18"] { --grid-cs: 18 }
  .l_grid > .l_cell[span-lg^="19"] { --grid-cs: 19 }
  .l_grid > .l_cell[span-lg^="20"] { --grid-cs: 20 }
  .l_grid > .l_cell[span-lg^="21"] { --grid-cs: 21 }
  .l_grid > .l_cell[span-lg^="22"] { --grid-cs: 22 }
  .l_grid > .l_cell[span-lg^="23"] { --grid-cs: 23 }
  .l_grid > .l_cell[span-lg^="24"] { --grid-cs: 24 }

  /* span-lg=...+width, span-lg=...-end */
  .l_grid > .l_cell[span-lg$="+1"], .l_grid > .l_cell[span-lg="1"] { --grid-ce: 1 }
  .l_grid > .l_cell[span-lg$="+2"], .l_grid > .l_cell[span-lg$="-1"], .l_grid > .l_cell[span-lg="2"] { --grid-ce: 2 }
  .l_grid > .l_cell[span-lg$="+3"], .l_grid > .l_cell[span-lg$="-2"], .l_grid > .l_cell[span-lg="3"] { --grid-ce: 3 }
  .l_grid > .l_cell[span-lg$="+4"], .l_grid > .l_cell[span-lg$="-3"], .l_grid > .l_cell[span-lg="4"] { --grid-ce: 4 }
  .l_grid > .l_cell[span-lg$="+5"], .l_grid > .l_cell[span-lg$="-4"], .l_grid > .l_cell[span-lg="5"] { --grid-ce: 5 }
  .l_grid > .l_cell[span-lg$="+6"], .l_grid > .l_cell[span-lg$="-5"], .l_grid > .l_cell[span-lg="6"] { --grid-ce: 6 }
  .l_grid > .l_cell[span-lg$="+7"], .l_grid > .l_cell[span-lg$="-6"], .l_grid > .l_cell[span-lg="7"] { --grid-ce: 7 }
  .l_grid > .l_cell[span-lg$="+8"], .l_grid > .l_cell[span-lg$="-7"], .l_grid > .l_cell[span-lg="8"] { --grid-ce: 8 }
  .l_grid > .l_cell[span-lg$="+9"], .l_grid > .l_cell[span-lg$="-8"], .l_grid > .l_cell[span-lg="9"] { --grid-ce: 9 }
  .l_grid > .l_cell[span-lg$="+10"], .l_grid > .l_cell[span-lg$="-9"], .l_grid > .l_cell[span-lg="10"] { --grid-ce: 10 }
  .l_grid > .l_cell[span-lg$="+11"], .l_grid > .l_cell[span-lg$="-10"], .l_grid > .l_cell[span-lg="11"] { --grid-ce: 11 }
  .l_grid > .l_cell[span-lg$="+12"], .l_grid > .l_cell[span-lg$="-11"], .l_grid > .l_cell[span-lg="12"] { --grid-ce: 12 }
  .l_grid > .l_cell[span-lg$="+13"], .l_grid > .l_cell[span-lg$="-12"], .l_grid > .l_cell[span-lg="13"] { --grid-ce: 13 }
  .l_grid > .l_cell[span-lg$="+14"], .l_grid > .l_cell[span-lg$="-13"], .l_grid > .l_cell[span-lg="14"] { --grid-ce: 14 }
  .l_grid > .l_cell[span-lg$="+15"], .l_grid > .l_cell[span-lg$="-14"], .l_grid > .l_cell[span-lg="15"] { --grid-ce: 15 }
  .l_grid > .l_cell[span-lg$="+16"], .l_grid > .l_cell[span-lg$="-15"], .l_grid > .l_cell[span-lg="16"] { --grid-ce: 16 }
  .l_grid > .l_cell[span-lg$="+17"], .l_grid > .l_cell[span-lg$="-16"], .l_grid > .l_cell[span-lg="17"] { --grid-ce: 17 }
  .l_grid > .l_cell[span-lg$="+18"], .l_grid > .l_cell[span-lg$="-17"], .l_grid > .l_cell[span-lg="18"] { --grid-ce: 18 }
  .l_grid > .l_cell[span-lg$="+19"], .l_grid > .l_cell[span-lg$="-18"], .l_grid > .l_cell[span-lg="19"] { --grid-ce: 19 }
  .l_grid > .l_cell[span-lg$="+20"], .l_grid > .l_cell[span-lg$="-19"], .l_grid > .l_cell[span-lg="20"] { --grid-ce: 20 }
  .l_grid > .l_cell[span-lg$="+21"], .l_grid > .l_cell[span-lg$="-20"], .l_grid > .l_cell[span-lg="21"] { --grid-ce: 21 }
  .l_grid > .l_cell[span-lg$="+22"], .l_grid > .l_cell[span-lg$="-21"], .l_grid > .l_cell[span-lg="22"] { --grid-ce: 22 }
  .l_grid > .l_cell[span-lg$="+23"], .l_grid > .l_cell[span-lg$="-22"], .l_grid > .l_cell[span-lg="23"] { --grid-ce: 23 }
  .l_grid > .l_cell[span-lg$="+24"], .l_grid > .l_cell[span-lg$="-23"], .l_grid > .l_cell[span-lg="24"] { --grid-ce: 24 }
  .l_grid > .l_cell[span-lg$="-24"] { --grid-ce: 25 }

  /* connect vars */
  .l_grid > .l_cell[span-lg] { grid-column-end: span var(--grid-ce) }
  .l_grid > .l_cell[span-lg*="+"], .l_grid > .l_cell[span-lg*="-"], .l_grid > .l_cell[span-lg*=".."] {
    grid-column-start: var(--grid-cs) }
  .l_grid > .l_cell[span-lg*="-"], .l_grid > .l_cell[span-lg*=".."] {
    grid-column-end: var(--grid-ce) }
  .l_grid > .l_cell[span-lg="row"] { grid-column: 1 / -1 }
}

/* EXTRA LARGE -  width >= 1440 */
@media only screen and (--xl-n-above) {
  .l_grid[col-xl="1"] { --grid-tc: repeat(1, 1fr) }
  .l_grid[col-xl="2"] { --grid-tc: repeat(2, 1fr) }
  .l_grid[col-xl="3"] { --grid-tc: repeat(3, 1fr) }
  .l_grid[col-xl="4"] { --grid-tc: repeat(4, 1fr) }
  .l_grid[col-xl="5"] { --grid-tc: repeat(5, 1fr) }
  .l_grid[col-xl="6"] { --grid-tc: repeat(6, 1fr) }
  .l_grid[col-xl="7"] { --grid-tc: repeat(7, 1fr) }
  .l_grid[col-xl="8"] { --grid-tc: repeat(8, 1fr) }
  .l_grid[col-xl="9"] { --grid-tc: repeat(9, 1fr) }
  .l_grid[col-xl="10"] { --grid-tc: repeat(10, 1fr) }
  .l_grid[col-xl="11"] { --grid-tc: repeat(11, 1fr) }
  .l_grid[col-xl="12"] { --grid-tc: repeat(12, 1fr) }
  .l_grid[col-xl="13"] { --grid-tc: repeat(13, 1fr) }
  .l_grid[col-xl="14"] { --grid-tc: repeat(14, 1fr) }
  .l_grid[col-xl="15"] { --grid-tc: repeat(15, 1fr) }
  .l_grid[col-xl="16"] { --grid-tc: repeat(16, 1fr) }
  .l_grid[col-xl="17"] { --grid-tc: repeat(17, 1fr) }
  .l_grid[col-xl="18"] { --grid-tc: repeat(18, 1fr) }
  .l_grid[col-xl="19"] { --grid-tc: repeat(19, 1fr) }
  .l_grid[col-xl="20"] { --grid-tc: repeat(20, 1fr) }
  .l_grid[col-xl="21"] { --grid-tc: repeat(21, 1fr) }
  .l_grid[col-xl="22"] { --grid-tc: repeat(22, 1fr) }
  .l_grid[col-xl="23"] { --grid-tc: repeat(23, 1fr) }
  .l_grid[col-xl="24"] { --grid-tc: repeat(24, 1fr) }

  /* span-lg=start... */
  .l_grid > .l_cell[span-xl^="1"] { --grid-cs: 1 }
  .l_grid > .l_cell[span-xl^="2"] { --grid-cs: 2 }
  .l_grid > .l_cell[span-xl^="3"] { --grid-cs: 3 }
  .l_grid > .l_cell[span-xl^="4"] { --grid-cs: 4 }
  .l_grid > .l_cell[span-xl^="5"] { --grid-cs: 5 }
  .l_grid > .l_cell[span-xl^="6"] { --grid-cs: 6 }
  .l_grid > .l_cell[span-xl^="7"] { --grid-cs: 7 }
  .l_grid > .l_cell[span-xl^="8"] { --grid-cs: 8 }
  .l_grid > .l_cell[span-xl^="9"] { --grid-cs: 9 }
  .l_grid > .l_cell[span-xl^="10"] { --grid-cs: 10 }
  .l_grid > .l_cell[span-xl^="11"] { --grid-cs: 11 }
  .l_grid > .l_cell[span-xl^="12"] { --grid-cs: 12 }
  .l_grid > .l_cell[span-xl^="13"] { --grid-cs: 13 }
  .l_grid > .l_cell[span-xl^="14"] { --grid-cs: 14 }
  .l_grid > .l_cell[span-xl^="15"] { --grid-cs: 15 }
  .l_grid > .l_cell[span-xl^="16"] { --grid-cs: 16 }
  .l_grid > .l_cell[span-xl^="17"] { --grid-cs: 17 }
  .l_grid > .l_cell[span-xl^="18"] { --grid-cs: 18 }
  .l_grid > .l_cell[span-xl^="19"] { --grid-cs: 19 }
  .l_grid > .l_cell[span-xl^="20"] { --grid-cs: 20 }
  .l_grid > .l_cell[span-xl^="21"] { --grid-cs: 21 }
  .l_grid > .l_cell[span-xl^="22"] { --grid-cs: 22 }
  .l_grid > .l_cell[span-xl^="23"] { --grid-cs: 23 }
  .l_grid > .l_cell[span-xl^="24"] { --grid-cs: 24 }

  /* span-xl=...+width, span-xl=...-end */
  .l_grid > .l_cell[span-xl$="+1"], .l_grid > .l_cell[span-xl="1"] { --grid-ce: 1 }
  .l_grid > .l_cell[span-xl$="+2"], .l_grid > .l_cell[span-xl$="-1"], .l_grid > .l_cell[span-xl="2"] { --grid-ce: 2 }
  .l_grid > .l_cell[span-xl$="+3"], .l_grid > .l_cell[span-xl$="-2"], .l_grid > .l_cell[span-xl="3"] { --grid-ce: 3 }
  .l_grid > .l_cell[span-xl$="+4"], .l_grid > .l_cell[span-xl$="-3"], .l_grid > .l_cell[span-xl="4"] { --grid-ce: 4 }
  .l_grid > .l_cell[span-xl$="+5"], .l_grid > .l_cell[span-xl$="-4"], .l_grid > .l_cell[span-xl="5"] { --grid-ce: 5 }
  .l_grid > .l_cell[span-xl$="+6"], .l_grid > .l_cell[span-xl$="-5"], .l_grid > .l_cell[span-xl="6"] { --grid-ce: 6 }
  .l_grid > .l_cell[span-xl$="+7"], .l_grid > .l_cell[span-xl$="-6"], .l_grid > .l_cell[span-xl="7"] { --grid-ce: 7 }
  .l_grid > .l_cell[span-xl$="+8"], .l_grid > .l_cell[span-xl$="-7"], .l_grid > .l_cell[span-xl="8"] { --grid-ce: 8 }
  .l_grid > .l_cell[span-xl$="+9"], .l_grid > .l_cell[span-xl$="-8"], .l_grid > .l_cell[span-xl="9"] { --grid-ce: 9 }
  .l_grid > .l_cell[span-xl$="+10"], .l_grid > .l_cell[span-xl$="-9"], .l_grid > .l_cell[span-xl="10"] { --grid-ce: 10 }
  .l_grid > .l_cell[span-xl$="+11"], .l_grid > .l_cell[span-xl$="-10"], .l_grid > .l_cell[span-xl="11"] { --grid-ce: 11 }
  .l_grid > .l_cell[span-xl$="+12"], .l_grid > .l_cell[span-xl$="-11"], .l_grid > .l_cell[span-xl="12"] { --grid-ce: 12 }
  .l_grid > .l_cell[span-xl$="+13"], .l_grid > .l_cell[span-xl$="-12"], .l_grid > .l_cell[span-xl="13"] { --grid-ce: 13 }
  .l_grid > .l_cell[span-xl$="+14"], .l_grid > .l_cell[span-xl$="-13"], .l_grid > .l_cell[span-xl="14"] { --grid-ce: 14 }
  .l_grid > .l_cell[span-xl$="+15"], .l_grid > .l_cell[span-xl$="-14"], .l_grid > .l_cell[span-xl="15"] { --grid-ce: 15 }
  .l_grid > .l_cell[span-xl$="+16"], .l_grid > .l_cell[span-xl$="-15"], .l_grid > .l_cell[span-xl="16"] { --grid-ce: 16 }
  .l_grid > .l_cell[span-xl$="+17"], .l_grid > .l_cell[span-xl$="-16"], .l_grid > .l_cell[span-xl="17"] { --grid-ce: 17 }
  .l_grid > .l_cell[span-xl$="+18"], .l_grid > .l_cell[span-xl$="-17"], .l_grid > .l_cell[span-xl="18"] { --grid-ce: 18 }
  .l_grid > .l_cell[span-xl$="+19"], .l_grid > .l_cell[span-xl$="-18"], .l_grid > .l_cell[span-xl="19"] { --grid-ce: 19 }
  .l_grid > .l_cell[span-xl$="+20"], .l_grid > .l_cell[span-xl$="-19"], .l_grid > .l_cell[span-xl="20"] { --grid-ce: 20 }
  .l_grid > .l_cell[span-xl$="+21"], .l_grid > .l_cell[span-xl$="-20"], .l_grid > .l_cell[span-xl="21"] { --grid-ce: 21 }
  .l_grid > .l_cell[span-xl$="+22"], .l_grid > .l_cell[span-xl$="-21"], .l_grid > .l_cell[span-xl="22"] { --grid-ce: 22 }
  .l_grid > .l_cell[span-xl$="+23"], .l_grid > .l_cell[span-xl$="-22"], .l_grid > .l_cell[span-xl="23"] { --grid-ce: 23 }
  .l_grid > .l_cell[span-xl$="+24"], .l_grid > .l_cell[span-xl$="-23"], .l_grid > .l_cell[span-xl="24"] { --grid-ce: 24 }
  .l_grid > .l_cell[span-xl$="-24"] { --grid-ce: 25 }

  /* connect vars */
  .l_grid > .l_cell[span-xl] { grid-column-end: span var(--grid-ce) }
  .l_grid > .l_cell[span-xl*="+"], .l_grid > .l_cell[span-xl*="-"], .l_grid > .l_cell[span-xl*=".."] {
    grid-column-start: var(--grid-cs) }
  .l_grid > .l_cell[span-xl*="-"], .l_grid > .l_cell[span-xl*=".."] {
    grid-column-end: var(--grid-ce) }
  .l_grid > .l_cell[span-xl="row"] { grid-column: 1 / -1 }
}

/* .debug can be added to a .l_grid to visualize its effective cells */
.l_grid.debug > * {
  --color: rgba(248,110,91 ,0.3);
  background-image:
    linear-gradient(to bottom, var(--color) 0%, var(--color) 100%);
}
.l_grid.debug > :nth-child(6n+2) { --color: rgba(103,126,208,0.3) }
.l_grid.debug > :nth-child(6n+3) { --color: rgba(224,174,72 ,0.3) }
.l_grid.debug > :nth-child(6n+4) { --color: rgba(77, 214,115,0.3) }
.l_grid.debug > :nth-child(6n+5) { --color: rgba(217,103,219,0.3) }
.l_grid.debug > :nth-child(6n+6) { --color: rgba(94, 204,211,0.3) }
.l_grid.debug > :nth-child(6n+7) { --color: rgba(248,110,91 ,0.3) }
