/* INDEX */

.blog_postListing {
  margin-top: var(--md1);
  li {
    margin-bottom: var(--md1);
  }
  p:first-child {
    margin-bottom: var(--xs1);
  }
}

/* SINGLE ARTICLE  */

.blog_meta {
  margin-bottom: var(--md1);

  p {
    margin-bottom: var(--sm1);
    font-size: var(--text-sm);
    text-transform: uppercase;
    color: var(--base-300);
  }
}

/* colors-in-css.mdx */

.blog-grid-hsl-v-oklch {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--sm3);
  @media (--md) {
    grid-template-columns: repeat(4, 1fr);
  }
  /* prettier-ignore */
  > div {
    padding: var(--sm2);
    text-align: center;
    &:nth-child(1) { order: 1; }
    &:nth-child(2) { order: 3; }
    &:nth-child(3) { order: 5; }
    &:nth-child(4) { order: 7; }
    &:nth-child(5) { order: 2; }
    &:nth-child(6) { order: 4; }
    &:nth-child(7) { order: 6; }
    &:nth-child(8) { order: 7; }
    @media (--md) {
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6),
      &:nth-child(7),
      &:nth-child(8) {
        order: unset;
      }
    }
  }
}
