.docs {
  > h2 {
    margin-top: var(--md1);
    margin-bottom: var(--sm3);
    padding: var(--sm1) 0;
    font-size: var(--text-lg);
    font-weight: var(--book);
    color: var(--base-500);
    border-bottom: 1px solid var(--border-color);
  }
}

.docs_section {
  margin-bottom: var(--lg3);
}

ul.docs_section_media {
  margin-left: 0;
  list-style-type: none;
  p {
    margin-bottom: var(--sm1);
  }
  li {
    margin-bottom: var(--md3);
  }
}

.docs_form {
  fieldset {
    margin-bottom: var(--prose-margin);
  }
}

.docs_examples {
  padding-left: 0;
  list-style-type: none;

  li:not(:last-of-type) {
    margin-bottom: var(--lg2);
    &:has(.astro-code) {
      margin-bottom: var(--xl3);
    }
  }
}

.docs_widthDemo {
  background-color: var(--primary-500);
  height: var(--md1);
}

.docs_lineHeightDemo {
  padding: 0 var(--xs1);
  border: 1px dashed var(--primary-300);
  border-radius: var(--radius-sm);
}

/* TODO: REFACTOR */

.ds {
  margin-bottom: var(--lg3);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.ds div {
  width: 100px;
  aspect-ratio: var(--ar-square);
}

.docs_canvas {
  background-color: var(--primary-900);
}

.docs_grid {
  border: 1px solid var(--primary-950);
  margin: var(--sm3) 0;

  .grid_item {
    padding: var(--sm2);
    background-color: var(--primary-900);
    color: var(--primary-50);
  }
}
