.docs {
  > h2 {
    margin-top: var(--md1);
    margin-bottom: var(--sm3);
    padding: var(--sm1) 0;
    font-size: var(--text-lg);
    font-weight: var(--book);
    color: var(--base-500);
    border-bottom: 1px solid var(--border-color);
  }
}

.docs_section {
  margin-bottom: var(--lg3);
}

ul.docs_section_media {
  margin-left: 0;
  list-style-type: none;
  p {
    margin-bottom: var(--sm1);
  }
  li {
    margin-bottom: var(--md3);
  }
}

.docs_form {
  fieldset {
    margin-bottom: var(--prose-margin);
  }
}

.docs_examples {
  padding-left: 0;
  list-style-type: none;

  li:not(:last-of-type) {
    margin-bottom: var(--lg2);
    &:has(.astro-code) {
      margin-bottom: var(--xl3);
    }
  }
}

/* TODO: REFACTOR */

.cubes,
.ds {
  list-style-type: none;
}

.cubes li {
  margin-bottom: var(--sm1);
}

.cubes div {
  background-color: hotpink;
  height: 30px;
}

.ds {
  margin-bottom: var(--lg3);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.ds div {
  width: 100px;
  aspect-ratio: var(--ar-square);
}

.xs1 {
  width: var(--xs1);
}

.xs2 {
  width: var(--xs2);
}

.xs3 {
  width: var(--xs3);
}

.sm1 {
  width: var(--sm1);
}

.sm2 {
  width: var(--sm2);
}

.sm3 {
  width: var(--sm3);
}

.md1 {
  width: var(--md1);
}

.md2 {
  width: var(--md2);
}

.md3 {
  width: var(--md3);
}

.lg1 {
  width: var(--lg1);
}

.lg2 {
  width: var(--lg2);
}

.lg3 {
  width: var(--lg3);
}

.xl1 {
  width: var(--xl1);
}

.xl2 {
  width: var(--xl2);
}

.xl3 {
  width: var(--xl3);
}

.xxl1 {
  width: var(--xxl1);
}

.xxl2 {
  width: var(--xxl2);
}

.xxl3 {
  width: var(--xxl3);
}

.mega1 {
  width: var(--mega1);
}

.mega2 {
  width: var(--mega2);
}

.mega3 {
  width: var(--mega3);
}

.giga1 {
  width: var(--giga1);
}

.giga2 {
  width: var(--giga2);
}

.giga3 {
  width: var(--giga3);
}

.shadow-1 {
  box-shadow: var(--shadow-sm);
}
.shadow-2 {
  box-shadow: var(--shadow-md);
}
.shadow-3 {
  box-shadow: var(--shadow-lg);
}
.shadow-4 {
  box-shadow: var(--shadow-xl);
}
.shadow-5 {
  box-shadow: var(--shadow-xxl);
}

.docs_canvas {
  background-color: var(--primary-900);
}

.docs_grid {
  border: 1px solid var(--primary-950);
  margin: var(--sm3) 0;

  .grid_item {
    padding: var(--sm2);
    background-color: var(--primary-900);
    color: var(--primary-50);
  }
}
