/* DEFAULT THEME */

:root {
  /* GLOBAL */
  accent-color: var(--primary-500);

  --border-color: var(--base-200);

  /* ELEMENTS */

  --body-background-color: var(--base-0);
  --button-height: var(--md3);
  --button-border-radius: var(--radius-lg);
  --input-height: var(--md3);
  --input-padding: var(--xs3);
  --input-border-radius: var(--radius-lg);

  --dialog-backdrop-color: var(--base-950);
  --dialog-backdrop-opacity: var(--o-4);

  /* text */
  --heading-font: var(--display);
  --heading-weight: var(--black);
  --heading-line-height: var(--leading-sm);

  --text-color: var(--base-950);
  --link-color: var(--primary-600);
  --link-hover-color: var(--primary-500);

  --prose-spacing: var(--sm1);

  --marker-color: #ffee00;

  /* tables */
  --table-padding: var(--xs2) var(--sm1);
  --table-border-color: var(--base-100);
  --table-border-radius: var(--radius-md);
  --table-background-color: none;

  /* layouts */
  --grid-column-gap: var(--sm3);
  --grid-row-gap: var(--sm3);

  --wrap-padding: var(--sm1);
  --wrap-md-padding: var(--sm3);
  --wrap-lg-padding: 0;
  --wrap-width: minmax(200px, 70ch);

  --layout_content_aside-width: 245px;
  --layout_content_aside-background-color: var(--base-100);

  /* components */
  --avatar-radius: var(--radius-round);

  --header-height: var(--xl2);
  --header-background-color: var(--base-0);
}

:focus-visible {
  outline: 3px solid var(--primary-500);
}

::selection {
  color: var(--base-0);
  background-color: var(--primary-800);
}
