/* DEFAULT THEME */

:root {
  --theme-border-color: var(--base-200);
  --theme-shadow-color: rgb(0 0 0 / 0.1);
}

:root.theme-dark {
  --theme-border-color: var(--base-500);
  --theme-shadow-color: rgb(0 0 0 / 0.6);
}

/* HTML ELEMENTS */

:root {
  accent-color: var(--primary-500);

  --body-background-color: var(--base-0);

  --button-height: var(--md3);
  --button-border-radius: var(--radius-lg);

  --input-height: var(--md3);
  --input-padding: var(--xs3);
  --input-border-radius: var(--radius-lg);

  --dialog-backdrop-color: var(--base-950);
  --dialog-backdrop-opacity: var(--o-4);

  --table-padding: var(--xs2) var(--sm1);
  --table-border-color: var(--base-100);
  --table-border-radius: var(--radius-md);
  --table-background-color: none;

  /* Text */

  --heading-font: var(--display);
  --heading-weight: var(--black);
  --heading-line-height: var(--leading-sm);

  --text-color: var(--base-950);
  --link-color: var(--primary-600);
  --link-hover-color: var(--primary-500);

  --text-code-color: var(--primary-600);
  --text-code-background-color: var(--primary-100);

  /* .prose related stuff in GLOBAL */

  --marker-color: #ffee00;
}

:root.theme-dark {
  accent-color: var(--primary-500);

  --body-background-color: var(--base-950);

  --button-height: var(--md3);

  --dialog-backdrop-color: var(--base-950);

  --table-border-color: var(--base-700);
  --table-background-color: none;

  /* Text */

  --text-color: var(--base-200);
  --link-color: var(--primary-400);
  --link-hover-color: var(--primary-500);

  --text-code-color: var(--primary-400);
  --text-code-background-color: var(--primary-900);
}

/* GLOBAL */

:root {
  --grid-column-gap: var(--sm3);
  --grid-row-gap: var(--sm3);

  --wrap-padding: var(--sm1);
  --wrap-md-padding: var(--sm3);
  --wrap-lg-padding: 0;
  --wrap-width: minmax(200px, 70ch);

  --layout_content_aside-width: 245px;
  --layout_content_aside-background-color: var(--base-100);

  --prose-spacing: var(--sm1);
}

/* COMPONENTS */

/* Avatar */

:root {
  --avatar-color: var(--base-0);
  --avatar-background-color: var(--base-400);
  --avatar-border-color: var(--base-0);
  --avatar-border-width: var(--border-sm);
  --avatar-radius: var(--radius-round);
  --avatar-status-dot-color-offline: var(--base-300);
  --avatar-status-dot-color-online: var(--yes-400);
}

:root.theme-dark {
  --avatar-border-color: var(--base-500);
}

/* Card */

:root {
  --card-spacing: var(--sm3);
  --card-text-color: var(--text-color);
  --card-secondary-text-color: var(--base-400);
  --card-bg-color: var(--base-100);
  --card-border-radius: var(--radius-lg);
  --card-border-color: var(--theme-border-color);
  --card-border-width: var(--border-sm);
  --card-shadow: var(--shadow-md);
  --card-shadow-hover: var(--shadow-xl);
  --card-badge-bg: var(--base-700); /* Default badge background */
  --card-badge-text-color: var(--base-0); /* Default badge text color */
  --card-loading-bg: var(--base-200);
}

:root.theme-dark {
  --card-bg-color: var(--base-900);
  --card-border-color: var(--base-600);
  --card-secondary-text-color: var(--base-500);
  --card-loading-bg: var(--base-900);
  --card-badge-bg: var(--base-600);
}

/* Footer */

:root {
  --footer-background-color: var(--primary-600);
  --footer-text-color: var(--base-0);
  --footer-border-color: transparent;
}

:root.theme-dark {
  --footer-background-color: var(--base-950);
  --footer-text-color: var(--base-200);
  --footer-border-color: var(--base-700);
}

/* Header */

:root {
  --header-height: var(--xl2);
  --header-background-color: var(--base-0);
}

:root.theme-dark {
  --header-background-color: var(--base-950);
}

/* Notice */

:root {
  --notice-spacing: var(--sm1);
  --notice-text-color: var(--base-950);
  --notice-background-color: var(--base-50);
  --notice-border-color: var(--base-200);
  --notice-border-width: var(--border-sm);
  --notice-border-radius: var(--radius-lg);
}

:root.theme-dark {
  --notice-text-color: var(--base-0);
  --notice-background-color: var(--base-800);
  --notice-border-color: var(--base-500);
}

/* EXTERNAL PLUGINS */

:root {
  --astro-code-background-color: var(--base-950);
}

:root.theme-dark {
  --astro-code-background-color: var(--base-900);
}
