/* SETTINGS TOKENS */

/*
Can't use var() inside media queries, so breakpoints
are hard coded in settings.media-queries.css

xxs: 240px
xs: 360px
sm: 480px
md: 768px
lg: 1024px
xl: 1440px
xxl: 1920px
*/

/*
• Font size
• Font weight
• Line height
• Color
• Margin
• Padding
• Width
• Height
• Box shadows
• Border radius
• Border width • Opacity
*/

:root {
  /* COLORS */
  --color-accent: hotpink;

  /* DIMENSION */

  --sm1: 4px;
  --sm2: 8px;
  --sm3: 12px;

  --md1: 16px;
  --md2: 24px;
  --md3: 32px;

  --lg1: 48px;
  --lg2: 64px;
  --lg3: 96px;

  --xl1: 128px;
  --xl2: 192px;
  --xl3: 256px;

  --xxl1: 384px;
  --xxl2: 512px;
  --xxl3: 640px;

  /* TYPOGRAPHY */
  --baseline: 8;
}
