/* https://github.com/postcss/postcss-mixins */

/* Example */

@define-mixin display-gradient $gradient {
  width: max-content;
  color: transparent;
  background: $gradient;
  background-clip: text;
  text-fill-color: transparent;
}
