---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';

export async function getStaticPaths() {
  const allPosts = await getCollection('blog');

  const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) => post.data.tags.includes(tag));
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout bodyClass="layout-centered">
  <main class="blog">
    <h1>Posts tagged with  “{tag}”</h1>
    <ul class="blog_postListing">
      {
        posts.map((post) => (
          <li>
            <p>
              <a href={`/blog/${post.slug}`}>{post.data.title}</a>
            </p>
            <p>{post.data.description}</p>
          </li>
        ))
      }
    </ul>
  </main>
</BaseLayout>
