---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'About mCSS';
const header = 'About mCSS';
---

<BaseLayout title={title} header={header}>
  <p>mCSS stands for “minimal CSS.”</p>
</BaseLayout>
