---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'About mCSS';
const header = 'About mCSS';
---

<BaseLayout title={title}>
  <h1>{header}</h1>
  <p>mCSS stands for “minimal CSS.”</p>
</BaseLayout>
