---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>mCSS</title>
	</head>
	<body>
		<h1>mCSS</h1>
		<p>For designers who enjoy coding and coders who care about design.</p>
	</body>
</html>
