---
import BaseLayout from '../layouts/BaseLayout.astro';
const title = 'The library for CSS lovers | mCSS';
const header = 'mCSS';
---

<BaseLayout title={title} header={header}>
  <p>The CSS framework for designers who enjoy coding and engineers who care about design.</p>
</BaseLayout>
