---
import BaseLayout from '../layouts/BaseLayout.astro';
const title = 'The library for CSS lovers | mCSS';
const header = 'Introduction';
---

<BaseLayout title={title} header={header}>
  <p>A CSS library for designers who enjoy coding and coders who care about design.</p>
</BaseLayout>
