---
import { Image } from 'astro:assets';
import { getInitials } from '../scripts/utilities';
const { online, offline, pic, size } = Astro.props;

const slotContent = await Astro.slots.render('default');
const initials = getInitials(slotContent);
---

<div class:list={['avatar', size && `avatar-${size}`, online && 'avatar-online', offline && 'avatar-offline']}>
  <div>
    {pic && <Image src={pic} alt={slotContent} width="256" />}
    {!pic && initials && <span>{initials}</span>}
  </div>
</div>
