---
const { isLink, url, id } = Astro.props;
---

{
  isLink ? (
    <a class="primary bt " id={id} href={url}>
      <slot />
    </a>
  ) : (
    <button class="bt" id={id}>
      <slot />
    </button>
  )
}
