---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'section'> {
  title?: string;
  text?: string;
  variant?: 'filled' | 'primary';
  'data-testid'?: string;
}

// prettier-ignore
const {
  title,
  text,
  variant,
  class: className,
  'data-testid': testId = 'cta',
  ...rest
} = Astro.props as Props;
---

<!-- prettier-ignore -->
<section
  class:list={[
    'cta',
    'wrap',
    variant && `cta-${variant}`,
    className,
  ]}
  data-testid={testId}
  {...rest}
>
  <div class="cta_content">
    {title && <h2 class="cta_title">{title}</h2>}
    {text && <p class="cta_text">{text}</p>}
    {
      Astro.slots.has('actions') && (
        <div class="cta_actions">
          <slot name="actions" />
        </div>
      )
    }
    <slot />
  </div>
</section>
