---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'footer'> {
  navLabel?: string;
  'data-testid'?: string;
}

// prettier-ignore
const {
  navLabel = 'Footer',
  class: className,
  'data-testid': testId = 'footer',
  ...rest
} = Astro.props as Props;
---

<!-- prettier-ignore -->
<footer
  class:list={['footer', className]}
  data-testid={testId}
  {...rest}
>
  {
    Astro.slots.has('default') && (
      <nav class="footer_nav" aria-label={navLabel}>
        <slot />
      </nav>
    )
  }
  {
    Astro.slots.has('meta') && (
      <section class="footer_meta">
        <slot name="meta" />
      </section>
    )
  }
</footer>
