---
import Nav from '../components/Nav.astro';
import NavMobile from '../components/NavMobile.astro';
import ThemeToggle from './ThemeToggle.astro';
import logoImg from '../assets/ui/mcss-logo.svg?raw';
---

<header class="header is-top">
  <a class="header_logo" href="/">
    <Fragment set:html={logoImg} /> mCSS
  </a>
  <Nav />
  <NavMobile />
  <div class="header_toggle">
    <ThemeToggle />
  </div>
</header>

<script>
  //
  import { throttle } from '../scripts/utilities';

  function toggleClassOnScroll() {
    const header = document.querySelector('.header');
    if (window.scrollY === 0) {
      header.classList.add('is-top');
    } else {
      header.classList.remove('is-top');
    }
  }
  window.onscroll = throttle(toggleClassOnScroll, 100);
</script>

<script is:inline>
  // Dark/light Theme switcher
  // localStorage and <html> class set in header (BaseLayout) to alleviate FOUC
  const currentTheme = localStorage.getItem('theme');
  const checkboxes = document.querySelectorAll('.js-theme-checkbox');
  document.getElementById('js-theme').textContent = currentTheme.replace('theme-', '');

  // if dark theme is set, checkbox is checked
  const isDark = currentTheme === 'theme-dark';
  // we have to set both checkboxes to checked, because the theme is set on both the mobile and desktop nav
  checkboxes.forEach((el) => {
    el.checked = isDark;
  });

  function handleToggleClick() {
    const isDark = this.checked;

    checkboxes.forEach((el) => {
      el.checked = isDark;
    });
    document.documentElement.classList.remove('theme-light', 'theme-dark');
    document.documentElement.classList.add(isDark ? 'theme-dark' : 'theme-light');
    document.getElementById('js-theme').textContent = isDark ? 'dark' : 'light';
    localStorage.setItem('theme', isDark ? 'theme-dark' : 'theme-light');
  }

  checkboxes.forEach((el) => {
    el.addEventListener('click', handleToggleClick);
  });
</script>
