---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.split('/')[1]; // pathname starts with '/'
const sections = ['Docs', 'Components', 'Blog', 'About'];
---

<nav>
  <ul>
    <li>
      <a class={'' == currentPath && 'is-active'} href="/">Home</a>
    </li>
    {
      sections.map((current) => {
        const path = current.toLowerCase();
        const isDocs = current == 'Components' || current == 'Docs';
        return (
          <li>
            <a class={path == currentPath && 'is-active'} href={`/${path}${isDocs ? '/start' : ''}`}>
              {current}
            </a>
          </li>
        );
      })
    }
  </ul>
  <script></script>
</nav>
