---
import { getCollection } from 'astro:content';

import arrow from '../assets/icons/arrow-right-small.svg?raw';

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.split('/')[2]; // pathname starts with '/'

const allPosts = await getCollection('components');

import { filterAndSort } from '../scripts/utilities';

const componentPosts = filterAndSort(allPosts, 'component');
---

<nav class="navDocs">
  <ul>
    {
      componentPosts.map((post) => (
        <li>
          <a class:list={[{ 'is-active': post.id == currentPath }]} href={`/components/${post.id}`}>
            <Fragment set:html={arrow} />
            {post.data.title}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
