---
import arrow from '../assets/icons/arrow-right-small.svg?raw';
import { docsNavItems } from '../data/docsNav';

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.split('/')[2]; // pathname starts with '/'
---

<nav class="navDocs">
  <ul>
    {
      docsNavItems.map((page) => (
        <li>
          <a class:list={[{ 'is-active': page.id == currentPath }]} href={`/docs/${page.id}`}>
            <Fragment set:html={arrow} />
            {page.title}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
