---
import arrow from '../assets/icons/arrow-right-small.svg?raw';

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.split('/')[2]; // pathname starts with '/'
const subSections = [
  ['start', 'Getting Started'],
  ['tokens', 'Tokens'],
  ['media-queries', 'Media Queries'],
  ['themes', 'Themes'],
  ['elements', 'HTML Elements'],
  ['grid', 'Grid'],
];
---

<nav class="navDocs">
  <ul>
    {
      subSections.map((currentSubSection) => (
        <li>
          <a class={currentSubSection[0] == currentPath && 'is-active'} href={`/docs/${currentSubSection[0]}`}>
            <Fragment set:html={arrow} />
            {currentSubSection[1]}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
