---
import type { HTMLAttributes } from 'astro/types';
import info from '../assets/icons/info.svg?raw';
import danger from '../assets/icons/octagon-alert.svg?raw';
import warning from '../assets/icons/triangle-alert.svg?raw';
import confirm from '../assets/icons/circle-check.svg?raw';

interface Props extends HTMLAttributes<'aside'> {
  title?: string;
  type?: 'info' | 'danger' | 'warning' | 'confirm';
  'data-testid'?: string;
}

// prettier-ignore
const {
  title,
  type,
  class: className,
  'data-testid': testId = 'notice',
  ...rest
} = Astro.props as Props;

const icons = { info, danger, warning, confirm };
const svgIcon = icons[type ?? 'info'];
---

<!-- prettier-ignore -->
<aside
  class:list={[
    'notice',
    type && `notice-${type}`,
    className,
  ]}
  role="note"
  data-testid={testId}
  {...rest}
>
  {
    title && (
      <div class="notice_title">
        <Fragment set:html={svgIcon} />
        <strong>{title}</strong>
      </div>
    )
  }
  <slot />
</aside>
