---

---

<input class="toggle root-theme js-theme-checkbox" name="theme" type="checkbox" />
<span class="header_navMobile_themeToggle_text">current theme: <span id="js-theme">placeholder</span></span>
