/* LAYOUT WRAP */

.wrap {
  display: grid;
  grid-template-columns: 1fr var(--wrap-width) 1fr;

  > *,
  > astro-island > *,
  > astro-slot > *,
  > astro-static-slot > * {
    grid-column: 2;
    padding-inline: var(--wrap-spacing);
    @media (--md) {
      padding-inline: var(--wrap-md-spacing);
    }
    @media (--lg) {
      padding-inline: var(--wrap-lg-spacing);
    }
  }
}

.wrap_content {
  /* default doesn't need styling */
}

.wrap_content-fullBleed {
  grid-column: 1 / -1;
  width: 100%;
  object-fit: cover;
}
