/* HELPER OPACITY */

.o-0 {
  opacity: var(--o-0);
}

.o-1 {
  opacity: var(--o-1);
}

.o-2 {
  opacity: var(--o-2);
}

.o-3 {
  opacity: var(--o-3);
}

.o-4 {
  opacity: var(--o-4);
}

.o-5 {
  opacity: var(--o-5);
}
