/* HELPER OPACITY */

.o-0 {
  opacity: var(--o-0) !important;
}

.o-1 {
  opacity: var(--o-1) !important;
}

.o-2 {
  opacity: var(--o-2) !important;
}

.o-3 {
  opacity: var(--o-3) !important;
}

.o-4 {
  opacity: var(--o-4) !important;
}

.o-5 {
  opacity: var(--o-5) !important;
}
