---
import { getCollection } from 'astro:content';
import BaseLayout from './BaseLayout.astro';
import NavComponents from '../components/NavComponents.astro';
import Toc from '../components/Toc.astro';

import arrow from '../assets/icons/arrow-right-small.svg?raw';

const allPosts = await getCollection('components');
const { frontmatter } = Astro.props;
---

<BaseLayout title={`${frontmatter.title} | mCSS Documentation`} bodyClass="layout layout-sidebar">
  <aside class="layout_content_aside">
    <NavComponents />
  </aside>
  <aside class="layout_content_aside">
    <Toc selector=".docs" headings={['h2', 'h3']} scrollOffset={80} description={'On this page'} icon={arrow} />
  </aside>
  <main class="layout_content_main docs">
    <h1>
      <span class="text-capitalize">{frontmatter.type}</span> :: {`${frontmatter.title}`}
    </h1>
    <slot />
  </main>
</BaseLayout>
