---
import { getCollection } from 'astro:content';
import BaseLayout from './BaseLayout.astro';
import NavDocs from '../components/NavDocs.astro';

const allPosts = await getCollection('docs');
const { frontmatter } = Astro.props;
---

<BaseLayout title={`${frontmatter.title} | mCSS Documentation`} bodyClass="layout-sidebar">
  <aside class="layout_content_aside">
    <NavDocs />
  </aside>
  <main class="layout_content_main prose docs">
    <h1>{`Docs :: ${frontmatter.title}`}</h1>
    <slot />
  </main>
</BaseLayout>
