---
import { getCollection } from 'astro:content';
import BaseLayout from './BaseLayout.astro';
import NavDocs from '../components/NavDocs.astro';

const allPosts = await getCollection('docs');
const { frontmatter } = Astro.props;
---

<BaseLayout title={`${frontmatter.title} | mCSS Documentation`}>
  <h1>{`Docs / ${frontmatter.title}`}</h1>
  <aside>
    <NavDocs />
  </aside>
  <main>
    <slot />
  </main>
</BaseLayout>
