---
import { getCollection } from 'astro:content';
import BaseLayout from './BaseLayout.astro';
import NavComponents from '../components/NavComponents.astro';

const allPosts = await getCollection('components');
const { frontmatter } = Astro.props;
---

<BaseLayout title={`${frontmatter.title} | mCSS Documentation`} bodyClass="layout layout-sidebar">
  <aside class="layout_content_aside">
    <NavComponents />
  </aside>
  <main class="layout_content_main docs">
    <h1>{`Components :: ${frontmatter.title}`}</h1>
    <slot />
  </main>
</BaseLayout>
